<center> <h2> Question 1  </h2> </center>

<div>Créez un dataframe contenant les informations de population de chaque pays. Calculez le nombre total d’humains sur la planète. Critiquez votre résultat. En cas d’anomalie, analysez et effectuer les corrections nécessaires.</div>

<h3> Importation du fichier fr_population.csv et transformation en DataFrame </h3>

In [169]:
import pandas as pd
filepath='file:///D:/Lena/Desktop/OpenClassroom/fr_population.csv'
df_population=pd.read_csv(filepath)

<h3> Visualisation de la forme du tableau </h3>

In [170]:
df_population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

<h3> Calcul du nombre total d'humains sur la planète en 2013 </h3>

In [171]:
nb_totalHumains=df_population['Valeur'].sum()*1000
print("Le nombre total d'humains sur la planète est de " + str(nb_totalHumains))

Le nombre total d'humains sur la planète est de 8413993000

<h3> Visualisation des données par l'affichage de tous les pays présent dans le fichier </h3>

In [172]:
df_population['Zone'].unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Angola', 'Antigua-et-Barbuda', 'Arabie saoudite', 'Argentine',
       'Arménie', 'Australie', 'Autriche', 'Azerbaïdjan', 'Bahamas',
       'Bangladesh', 'Barbade', 'Bélarus', 'Belgique', 'Belize', 'Bénin',
       'Bermudes', 'Bolivie (État plurinational de)',
       'Bosnie-Herzégovine', 'Botswana', 'Brésil', 'Brunéi Darussalam',
       'Bulgarie', 'Burkina Faso', 'Cabo Verde', 'Cambodge', 'Cameroun',
       'Canada', 'Chili', 'Chine', 'Chine - RAS de Hong-Kong',
       'Chine - RAS de Macao', 'Chine, continentale',
       'Chine, Taiwan Province de', 'Chypre', 'Colombie', 'Congo',
       'Costa Rica', "Côte d'Ivoire", 'Croatie', 'Cuba', 'Danemark',
       'Djibouti', 'Dominique', 'Égypte', 'El Salvador',
       'Émirats arabes unis', 'Équateur', 'Espagne', 'Estonie',
       'Eswatini', "États-Unis d'Amérique", 'Éthiopie',
       'Fédération de Russie', 'Fidji', 'Finlande', 'France', 'Gabon',
       'Gambie', 'Géorgie', 'Ghana', 'Grèce', 'Grenade', 'Guatemala',
       'Guinée', 'Guinée-Bissau', 'Guyana', 'Haïti', 'Honduras',
       'Hongrie', 'Îles Salomon', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Islande',
       'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan',
       'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït', 'Lesotho',
       'Lettonie', 'Liban', 'Libéria', 'Lituanie', 'Luxembourg',
       'Macédoine du Nord', 'Madagascar', 'Malaisie', 'Malawi',
       'Maldives', 'Mali', 'Malte', 'Maroc', 'Maurice', 'Mauritanie',
       'Mexique', 'Mongolie', 'Monténégro', 'Mozambique', 'Myanmar',
       'Namibie', 'Népal', 'Nicaragua', 'Niger', 'Nigéria', 'Norvège',
       'Nouvelle-Calédonie', 'Nouvelle-Zélande', 'Oman', 'Ouganda',
       'Ouzbékistan', 'Pakistan', 'Panama', 'Paraguay', 'Pays-Bas',
       'Pérou', 'Philippines', 'Pologne', 'Polynésie française',
       'Portugal', 'République centrafricaine', 'République de Corée',
       'République de Moldova', 'République démocratique populaire lao',
       'République dominicaine',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Roumanie', 'Royaume-Uni', 'Rwanda',
       'Sainte-Lucie', 'Saint-Kitts-et-Nevis',
       'Saint-Vincent-et-les Grenadines', 'Samoa', 'Sao Tomé-et-Principe',
       'Sénégal', 'Serbie', 'Sierra Leone', 'Slovaquie', 'Slovénie',
       'Soudan', 'Sri Lanka', 'Suède', 'Suisse', 'Suriname',
       'Tadjikistan', 'Tchad', 'Tchéquie (la)', 'Thaïlande',
       'Timor-Leste', 'Togo', 'Trinité-et-Tobago', 'Tunisie',
       'Turkménistan', 'Turquie', 'Ukraine', 'Uruguay', 'Vanuatu',
       'Venezuela (République bolivarienne du)', 'Viet Nam', 'Yémen',
       'Zambie', 'Zimbabwe'], dtype=object)

<h3> Détermination du nombre de personnes en Chine </h3>

In [173]:
population_chine=df_population.loc[(df_population['Zone'] == 'Chine')]
population_chine

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [174]:
int(population_chine['Valeur']*1000)
print("Le nombre d'humains en Chine est de " + str(int(population_chine['Valeur']*1000)))

Le nombre d'humains en Chine est de 1416667000

<h3>Détermination du nombre de personnes dans les 4 régions de chine</h3>

In [175]:
population_chineRegion=df_population.loc[(df_population['Zone'] == 'Chine - RAS de Hong-Kong')|(df_population['Zone'] == 'Chine - RAS de Macao') | (df_population['Zone'] == 'Chine, continentale') |(df_population['Zone'] == 'Chine, Taiwan Province de')]
population_chineRegion

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
34,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,96,Chine - RAS de Hong-Kong,511,Population totale,2501,Population,2013,2013,1000 personnes,7204,NaN,Donnée officielle
35,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,128,Chine - RAS de Macao,511,Population totale,2501,Population,2013,2013,1000 personnes,566,NaN,Donnée officielle
36,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",511,Population totale,2501,Population,2013,2013,1000 personnes,1385567,NaN,Donnée officielle
37,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,214,"Chine, Taiwan Province de",511,Population totale,2501,Population,2013,2013,1000 personnes,23330,NaN,Donnée officielle

In [176]:
population_chineRegion['Valeur'].sum()*1000
print("Le nombre d'humains dans les 4 régions de Chine est de " + str(int(population_chineRegion['Valeur'].sum()*1000)))

Le nombre d'humains dans les 4 régions de Chine est de 1416667000

La chine est bien comptée en double

<h3> Suppresion des régions de chines qui sont comptées en double <h3/>

In [177]:
df_population_mondiale=df_population[~((df_population["Zone"]=="Chine - RAS de Hong-Kong")|(df_population["Zone"]=="Chine - RAS de Macao")|(df_population["Zone"]=="Chine, continentale")|(df_population["Zone"]=="Chine, Taiwan Province de"))]

<h3> Visualisation des données afin de vérifier la suppresion  </h3>

In [178]:
print(df_population_mondiale[33:39])

   Code Domaine                                            Domaine  Code zone  \
33         FBSH  Bilans Alimentaire (Ancienne méthodologie et p...        351
38         FBSH  Bilans Alimentaire (Ancienne méthodologie et p...         50
39         FBSH  Bilans Alimentaire (Ancienne méthodologie et p...         44
40         FBSH  Bilans Alimentaire (Ancienne méthodologie et p...         46
41         FBSH  Bilans Alimentaire (Ancienne méthodologie et p...         48
42         FBSH  Bilans Alimentaire (Ancienne méthodologie et p...        107

             Zone  Code Élément            Élément  Code Produit     Produit  \
33          Chine           511  Population totale          2501  Population
38         Chypre           511  Population totale          2501  Population
39       Colombie           511  Population totale          2501  Population
40          Congo           511  Population totale          2501  Population
41     Costa Rica           511  Population totale          2501  Population
42  Côte d'Ivoire           511  Population totale          2501  Population

    Code année  Année           Unité   Valeur Symbole  \
33        2013   2013  1000 personnes  1416667       A
38        2013   2013  1000 personnes     1141     NaN
39        2013   2013  1000 personnes    48321     NaN
40        2013   2013  1000 personnes     4448     NaN
41        2013   2013  1000 personnes     4872     NaN
42        2013   2013  1000 personnes    20316     NaN

                               Description du Symbole
33  Agrégat, peut inclure des données officielles,...
38                                  Donnée officielle
39                                  Donnée officielle
40                                  Donnée officielle
41                                  Donnée officielle
42                                  Donnée officielle

<h3> Détermination du nombre de la population mondiale <h3/>

In [179]:
nb_totalHumainsMondiale=df_population_mondiale['Valeur'].sum()*1000
print("Le nombre total d'humains sur la planète est de "+ str(nb_totalHumainsMondiale))

Le nombre total d'humains sur la planète est de 6997326000

<center> <h2> Question 2 <h2/> </center>

<div> Parmi les documents sur les Bilans alimentaires que vous avez téléchargés, il y a des informations redondantes. En effet, pour un pays donné, certaines de ces informations peuvent se calculer à partir d'autres : </div>

Production  
Importations  
Exportations  
Variation de stock   
Disponibilité intérieure   
Semences   
Pertes  
Nourriture, aussi appelée Disponibilité alimentaire  
Aliments pour animaux  
Traitement  
Autres utilisations  

Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique (pas besoin de coder ici). C'est une équation à 3 termes de type \(a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]\) ) faisant intervenir chacune des 11 quantités données ci dessus. Illustrez cette équation avec l'exemple du blé en France. Pour avoir un indice, cliquez sur "Définitions et Standards" sur la page de téléchargement des données. </div>

<h3> Identification de l'équation </h3>

Disponibilité intérieure = Production + Importation – Export + Variation de stock = Nourriture + Pertes + Semences + Aliments pour Animaux + Traitement + Autres utilisations

<h3> Importation du fichier fr_vegetaux.csv et transformation en DataFrame </h3>

In [180]:
import pandas as pd
filepath='file:///C:/Users/Lena/OneDrive/OpenClassRoom/Projet%203/fr_vegetaux.csv'
df_vegetaux=pd.read_csv(filepath)

<h3> Visualisation de la forme du tableau et des différentes catégories</h3>

In [181]:
df_vegetaux.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées

<h3> Importation du fichier fr_animaux.csv et transformation en DataFrame </h3>

In [182]:
import pandas as pd
filepath='file:///C:/Users/Lena/OneDrive/OpenClassRoom/Projet 3/fr_animaux.csv'
df_animaux=pd.read_csv(filepath)

<h3> Visualisation de la forme du tableau et des différentes catégories</h3>

In [183]:
df_animaux.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée

<h3> Concaténation des fichiers animaux et végétaux </h3>

In [184]:
df_animaux['Type de produit'] = 'Animal'
df_vegetaux['Type de produit'] = 'Végétal'

In [185]:
df_vegetaux_animaux = df_vegetaux.append(df_animaux)

In [186]:
df_vegetaux_animaux

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Type de produit
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées,Végétal
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées,Végétal
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées,Végétal
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées,Végétal
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées,Végétal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37161,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,5142,Nourriture,2775,Plantes Aquatiques,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,Animal
37162,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,2775,Plantes Aquatiques,2013,2013,kg,0.0,Fc,Donnée calculée,Animal
37163,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2775,Plantes Aquatiques,2013,2013,Kcal/personne/jour,0.0,Fc,Donnée calculée,Animal
37164,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.0,Fc,Donnée calculée,Animal
37165,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.0,Fc,Donnée calculée,Animal

In [187]:
df_vegetaux_animaux['Élément'].unique()

array(['Production', 'Importations - Quantité', 'Variation de stock',
       'Disponibilité intérieure', 'Semences', 'Pertes', 'Nourriture',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Aliments pour animaux', 'Exportations - Quantité', 'Traitement',
       'Autres utilisations (non alimentaire)'], dtype=object)

In [188]:
df_vegetaux_animaux_pivot = df_vegetaux_animaux.pivot_table(index=['Code zone', 'Zone','Code Produit','Produit','Type de produit','Année'],values=['Valeur'],aggfunc = sum,columns=['Élément'])
df_vegetaux_animaux_pivot.columns = ['Aliments pour animaux', 
                               'Autres utilisations (non alimentaire)',
                              'Disponibilité alimentaire (Kcal/personne/jour)',
                              'Disponibilité alimentaire en quantité (kg/personne/an)',
                              'Disponibilité de matière grasse en quantité (g/personne/jour)',
                              'Disponibilité de protéines en quantité (g/personne/jour)',
                              'Disponibilité intérieure',
                              'Exportations - Quantité',
                              'Importations - Quantité',
                              'Nourriture',
                              'Pertes',
                              'Production',
                              'Semences',
                              'Traitement',
                              'Variation de stock']
df_vegetaux_animaux_pivot = df_vegetaux_animaux_pivot.reset_index()
df_vegetaux_animaux_pivot

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0
1,1,Arménie,2513,Orge,Végétal,2013,137.0,26.0,0.0,0.00,...,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0
2,1,Arménie,2514,Maïs,Végétal,2013,96.0,NaN,0.0,0.03,...,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN
3,1,Arménie,2515,Seigle,Végétal,2013,1.0,NaN,1.0,0.12,...,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15697,351,Chine,2781,Huiles de Poissons,Animal,2013,47.0,80.0,0.0,0.00,...,0.00,127.0,13.0,91.0,0.0,NaN,50.0,NaN,NaN,0.0
15698,351,Chine,2782,Huiles de Foie de Poisso,Animal,2013,0.0,0.0,0.0,0.00,...,0.00,0.0,1.0,1.0,0.0,NaN,0.0,NaN,NaN,0.0
15699,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,14.47,135024.0,565.0,2714.0,109725.0,6406.0,136873.0,4679.0,12.0,-3998.0
15700,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,3.12,50117.0,233.0,9780.0,47009.0,1433.0,40570.0,NaN,0.0,0.0
15701,351,Chine,2899,Miscellanees,Végétal,2013,NaN,NaN,0.0,NaN,...,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h3> Sélection des lignes correspondantes </h3>

In [190]:
dispo_int = int(df_vegetaux_animaux_pivot["Disponibilité intérieure"].loc[(df_vegetaux_animaux_pivot["Zone"] == "France") & (df_vegetaux_animaux_pivot["Produit"]=="Blé")])
production = int(df_vegetaux_animaux_pivot["Production"].loc[(df_vegetaux_animaux_pivot["Zone"] == "France") & (df_vegetaux_animaux_pivot["Produit"]=="Blé")])
importations = int(df_vegetaux_animaux_pivot["Importations - Quantité"].loc[(df_vegetaux_animaux_pivot["Zone"] == "France") & (df_vegetaux_animaux_pivot["Produit"]=="Blé")])
exportation = int(df_vegetaux_animaux_pivot["Exportations - Quantité"].loc[(df_vegetaux_animaux_pivot["Zone"] == "France") & (df_vegetaux_animaux_pivot["Produit"]=="Blé")])
variation_stock = int(df_vegetaux_animaux_pivot["Variation de stock"].loc[(df_vegetaux_animaux_pivot["Zone"] == "France") & (df_vegetaux_animaux_pivot["Produit"]=="Blé")])
nourriture = int(df_vegetaux_animaux_pivot["Nourriture"].loc[(df_vegetaux_animaux_pivot["Zone"] == "France") & (df_vegetaux_animaux_pivot["Produit"]=="Blé")])
pertes = int(df_vegetaux_animaux_pivot["Pertes"].loc[(df_vegetaux_animaux_pivot["Zone"] == "France") & (df_vegetaux_animaux_pivot["Produit"]=="Blé")]) 
semences = int(df_vegetaux_animaux_pivot["Semences"].loc[(df_vegetaux_animaux_pivot["Zone"] == "France") & (df_vegetaux_animaux_pivot["Produit"]=="Blé")]) 
aliments_animaux = int(df_vegetaux_animaux_pivot["Aliments pour animaux"].loc[(df_vegetaux_animaux_pivot["Zone"] == "France") & (df_vegetaux_animaux_pivot["Produit"]=="Blé")])
traitement = int(df_vegetaux_animaux_pivot["Traitement"].loc[(df_vegetaux_animaux_pivot["Zone"] == "France") & (df_vegetaux_animaux_pivot["Produit"]=="Blé")]) 
autres_utilisations = int(df_vegetaux_animaux_pivot["Autres utilisations (non alimentaire)"].loc[(df_vegetaux_animaux_pivot["Zone"] == "France") & (df_vegetaux_animaux_pivot["Produit"]=="Blé")])

<h3> Illustrations des équations avec l'exemple du blé en France en 2013 </h3>

<i> <b> Equation 1 </b> </i>

In [191]:
print("En utilisant l'équation 1 la disponibilité intérieure en France du blé est de " + str(int(dispo_int)) + " milliers de tonnes")

En utilisant l'équation 1 la disponibilité intérieure en France du blé est de 20298 milliers de tonnes

<i> <b> Equation 2 </b> </i>

In [192]:
Eq_2= int(production)+ int(importations) + int(variation_stock) - int(exportation)
print("En utilisant l'équation 2 la disponibilité intérieure en France du blé est de " + str(int(Eq_2)) + " milliers de tonnes")

En utilisant l'équation 2 la disponibilité intérieure en France du blé est de 20298 milliers de tonnes

<i> <b> Equation 3 </b> </i>

In [193]:
Eq_3= int(nourriture)+int(pertes)+int(semences)+int(aliments_animaux)+int(traitement)+int(autres_utilisations)
print("En utilisant l'équation 3 la disponibilité intérieure en France du blé est de " + str(int(Eq_3)) + " milliers de tonnes")

En utilisant l'équation 3 la disponibilité intérieure en France du blé est de 20298 milliers de tonnes

<center> <h2> Question 3 <h2/> </center>

Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.

Vous ferez cela à partir de ces informations :

Population de chaque pays ;  
Disponibilité alimentaire donnée pour chaque produit et pour chaque pays en kcal/personne/jour.  
Disponibilité alimentaire en protéines donnée pour chaque produit et pour chaque pays en g/personne/jour.

<h3> Sélection des colonnes représentant le nombre de personnes résidant dans le pays </h3>

In [194]:
nombre_de_personnes=df_population_mondiale[["Zone","Valeur","Unité"]]
nombre_de_personnes

                                       Zone  Valeur           Unité
0                               Afghanistan   30552  1000 personnes
1                            Afrique du Sud   52776  1000 personnes
2                                   Albanie    3173  1000 personnes
3                                   Algérie   39208  1000 personnes
4                                 Allemagne   82727  1000 personnes
..                                      ...     ...             ...
170  Venezuela (République bolivarienne du)   30405  1000 personnes
171                                Viet Nam   91680  1000 personnes
172                                   Yémen   24407  1000 personnes
173                                  Zambie   14539  1000 personnes
174                                Zimbabwe   14150  1000 personnes

[171 rows x 3 columns]

<h3> Fusion des tableaux afin de pouvoir déterminer la disponibilité alimentaire en kcal et en kg de protéines</h3>

In [195]:
Disponibilité_personnes = df_vegetaux_animaux_pivot.merge(nombre_de_personnes,how='inner',on='Zone')

<h3> Visualisation de la fusion des tableaux</h3>

In [196]:
Disponibilité_personnes

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Valeur,Unité
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,2977,1000 personnes
1,1,Arménie,2513,Orge,Végétal,2013,137.0,26.0,0.0,0.00,...,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0,2977,1000 personnes
2,1,Arménie,2514,Maïs,Végétal,2013,96.0,NaN,0.0,0.03,...,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN,2977,1000 personnes
3,1,Arménie,2515,Seigle,Végétal,2013,1.0,NaN,1.0,0.12,...,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0,2977,1000 personnes
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN,2977,1000 personnes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15320,351,Chine,2781,Huiles de Poissons,Animal,2013,47.0,80.0,0.0,0.00,...,13.0,91.0,0.0,NaN,50.0,NaN,NaN,0.0,1416667,1000 personnes
15321,351,Chine,2782,Huiles de Foie de Poisso,Animal,2013,0.0,0.0,0.0,0.00,...,1.0,1.0,0.0,NaN,0.0,NaN,NaN,0.0,1416667,1000 personnes
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,565.0,2714.0,109725.0,6406.0,136873.0,4679.0,12.0,-3998.0,1416667,1000 personnes
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,233.0,9780.0,47009.0,1433.0,40570.0,NaN,0.0,0.0,1416667,1000 personnes
15324,351,Chine,2899,Miscellanees,Végétal,2013,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1416667,1000 personnes

<h3> Détermination de la disponibilité alimentaire en Kcal et en Kg de protéine </h3>

In [197]:
Disponibilité_personnes["Disponibilité (kcal)"]= Disponibilité_personnes["Disponibilité alimentaire (Kcal/personne/jour)"]* Disponibilité_personnes["Valeur"]*1000*365
Disponibilité_personnes["Disponibilité (kg de protéines)"]= Disponibilité_personnes["Disponibilité de protéines en quantité (g/personne/jour)"]* Disponibilité_personnes["Valeur"]*1000*365/1000

<h3> Visualisation du tableau final représentant la disponibilité alimentaire en kcal et en kg de protéines pour chaque pays et chaque produit </h3>

In [198]:
Disponibilité_personnes.head()

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Valeur,Unité,Disponibilité (kcal),Disponibilité (kg de protéines)
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,389.0,32.0,312.0,30.0,10.0,-118.0,2977,1000 personnes,1.112684e+12,33163184.60
1,1,Arménie,2513,Orge,Végétal,2013,137.0,26.0,0.0,0.00,...,0.0,15.0,189.0,14.0,7.0,0.0,2977,1000 personnes,0.000000e+00,0.00
2,1,Arménie,2514,Maïs,Végétal,2013,96.0,NaN,0.0,0.03,...,0.0,7.0,21.0,0.0,NaN,NaN,2977,1000 personnes,0.000000e+00,10866.05
3,1,Arménie,2515,Seigle,Végétal,2013,1.0,NaN,1.0,0.12,...,0.0,0.0,1.0,0.0,NaN,0.0,2977,1000 personnes,1.086605e+09,21732.10
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,1.0,0.0,5.0,0.0,NaN,NaN,2977,1000 personnes,2.173210e+09,97794.45

<center> <h2> Question 4 <h2/> </center>

A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg. Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la valeur calorique d'un oeuf.

Indication : La disponibilité alimentaire en kcal/personne/jour est calculée par la FAO en multipliant la quantité Nourriture par le ratio énergie/poids (en kcal/kg), puis en le divisant par la population du pays puis par 365. Ici, on vous demande juste de retrouver le ratio énergie/poids que la FAO a utilisé dans son calcul.

En suivant la même méthodologie, calculez également le pourcentage de protéines de chaque produit (pour chaque pays). Ce pourcentage est obtenu en calculant le ratio "poids de protéines/poids total" (attention aux unités utilisées). Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la teneur en protéines de l'avoine.

<h3> Détermination du ratio énergie/poids en kcal/kg </h3>

In [199]:
Disponibilité_personnes["Ratio énergie/poids (kcal/kg)"]= (Disponibilité_personnes["Disponibilité (kcal)"]/ Disponibilité_personnes["Nourriture"])/1000000
Disponibilité_personnes

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Pertes,Production,Semences,Traitement,Variation de stock,Valeur,Unité,Disponibilité (kcal),Disponibilité (kg de protéines),Ratio énergie/poids (kcal/kg)
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,32.0,312.0,30.0,10.0,-118.0,2977,1000 personnes,1.112684e+12,3.316318e+07,2860.368946
1,1,Arménie,2513,Orge,Végétal,2013,137.0,26.0,0.0,0.00,...,15.0,189.0,14.0,7.0,0.0,2977,1000 personnes,0.000000e+00,0.000000e+00,NaN
2,1,Arménie,2514,Maïs,Végétal,2013,96.0,NaN,0.0,0.03,...,7.0,21.0,0.0,NaN,NaN,2977,1000 personnes,0.000000e+00,1.086605e+04,NaN
3,1,Arménie,2515,Seigle,Végétal,2013,1.0,NaN,1.0,0.12,...,0.0,1.0,0.0,NaN,0.0,2977,1000 personnes,1.086605e+09,2.173210e+04,inf
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,0.0,5.0,0.0,NaN,NaN,2977,1000 personnes,2.173210e+09,9.779445e+04,2173.210000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15320,351,Chine,2781,Huiles de Poissons,Animal,2013,47.0,80.0,0.0,0.00,...,NaN,50.0,NaN,NaN,0.0,1416667,1000 personnes,0.000000e+00,0.000000e+00,NaN
15321,351,Chine,2782,Huiles de Foie de Poisso,Animal,2013,0.0,0.0,0.0,0.00,...,NaN,0.0,NaN,NaN,0.0,1416667,1000 personnes,0.000000e+00,0.000000e+00,NaN
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,6406.0,136873.0,4679.0,12.0,-3998.0,1416667,1000 personnes,4.121155e+14,7.482198e+09,3755.894405
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,1433.0,40570.0,NaN,0.0,0.0,1416667,1000 personnes,3.050792e+13,1.613300e+09,648.980490
15324,351,Chine,2899,Miscellanees,Végétal,2013,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1416667,1000 personnes,0.000000e+00,5.170835e+06,NaN

<h3> Détermination du ratio énergie/poids en kcal/kg des oeufs </h3>

In [200]:
Disponibilité_personnes['Produit'].unique()

array(['Blé', 'Orge', 'Maïs', 'Seigle', 'Avoine', 'Millet', 'Sorgho',
       'Céréales, Autres', 'Pommes de Terre', 'Manioc', 'Racines nda',
       'Sucre, betterave', 'Sucre Eq Brut', 'Edulcorants Autres',
       'Haricots', 'Pois', 'Légumineuses Autres', 'Noix', 'Soja',
       'Arachides Decortiquees', 'Graines de tournesol',
       'Graines Colza/Moutarde', 'Coco (Incl Coprah)', 'Sésame', 'Olives',
       'Plantes Oleiferes, Autre', 'Huile de Soja', "Huile d'Arachide",
       'Huile de Tournesol', 'Huile de Colza&Moutarde',
       'Huile Graines de Coton', 'Huile de Palmistes', 'Huile de Palme',
       'Huile de Coco', 'Huile de Sésame', "Huile d'Olive",
       'Huile de Germe de Maïs', 'Huil Plantes Oleif Autr', 'Tomates',
       'Oignons', 'Légumes, Autres', 'Oranges, Mandarines',
       'Citrons & Limes', 'Pamplemousse', 'Agrumes, Autres', 'Bananes',
       'Bananes plantains', 'Pommes', 'Ananas', 'Dattes', 'Raisin',
       'Fruits, Autres', 'Café', 'Feve de Cacao', 'Thé', 'Poivre',
       'Piments', 'Girofles', 'Épices, Autres', 'Vin', 'Bière',
       'Boissons Fermentés', 'Boissons Alcooliques',
       'Alcool, non Comestible', 'Aliments pour enfants',
       'Viande de Bovins', "Viande d'Ovins/Caprins", 'Viande de Suides',
       'Viande de Volailles', 'Viande, Autre', 'Abats Comestible',
       'Graisses Animales Crue', 'Beurre, Ghee', 'Crème', 'Oeufs', 'Miel',
       'Poissons Eau Douce', 'Perciform', 'Poissons Pelagiques',
       'Poissons Marins, Autres', 'Crustacés', 'Cephalopodes',
       'Mollusques, Autres', 'Animaux Aquatiques Autre',
       'Plantes Aquatiques', 'Huiles de Poissons',
       'Huiles de Foie de Poisso', 'Riz (Eq Blanchi)',
       'Lait - Excl Beurre', 'Miscellanees', 'Sucre, canne',
       'Graines de coton', 'Patates douces', 'Palmistes', 'Ignames',
       'Sucre non centrifugé', 'Huile de Son de Riz',
       'Viande de Anim Aquatiq'], dtype=object)

In [201]:
df_energie_poids_oeufs = Disponibilité_personnes.loc[(Disponibilité_personnes["Produit"]=="Oeufs")]
df_energie_poids_oeufs['Ratio énergie/poids (kcal/kg)'].describe()

count     171.000000
mean             inf
std              NaN
min       704.450000
25%      1285.314318
50%      1388.606000
75%      1421.305642
max              inf
Name: Ratio énergie/poids (kcal/kg), dtype: float64

In [202]:
import numpy as np 
df_energie_poids_oeufs_NA=df_energie_poids_oeufs.replace([np.inf,-np.inf],np.nan).dropna(subset=["Ratio énergie/poids (kcal/kg)"])
df_energie_poids_oeufs_NA

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Pertes,Production,Semences,Traitement,Variation de stock,Valeur,Unité,Disponibilité (kcal),Disponibilité (kg de protéines),Ratio énergie/poids (kcal/kg)
74,1,Arménie,2744,Oeufs,Animal,2013,NaN,0.0,45.0,11.69,...,NaN,34.0,0.0,NaN,NaN,2977,1000 personnes,4.889722e+10,3.727055e+06,1397.063571
144,2,Afghanistan,2744,Oeufs,Animal,2013,NaN,NaN,5.0,1.30,...,5.0,18.0,2.0,NaN,NaN,30552,1000 personnes,5.575740e+10,4.237562e+06,1393.935000
226,3,Albanie,2744,Oeufs,Animal,2013,NaN,NaN,46.0,12.45,...,7.0,48.0,0.0,NaN,NaN,3173,1000 personnes,5.327467e+10,4.227229e+06,1331.866750
319,4,Algérie,2744,Oeufs,Animal,2013,NaN,NaN,27.0,8.06,...,10.0,347.0,21.0,NaN,NaN,39208,1000 personnes,3.863948e+11,3.291512e+07,1222.768481
400,7,Angola,2744,Oeufs,Animal,2013,NaN,NaN,4.0,1.11,...,2.0,5.0,3.0,NaN,NaN,21472,1000 personnes,3.134912e+10,2.586302e+06,1306.213333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14947,256,Luxembourg,2744,Oeufs,Animal,2013,NaN,NaN,55.0,14.64,...,NaN,2.0,0.0,NaN,0.0,530,1000 personnes,1.063975e+10,8.221625e+05,1329.968750
15039,272,Serbie,2744,Oeufs,Animal,2013,NaN,NaN,34.0,8.89,...,NaN,88.0,4.0,NaN,NaN,9511,1000 personnes,1.180315e+11,9.060654e+06,1388.606000
15129,273,Monténégro,2744,Oeufs,Animal,2013,NaN,NaN,44.0,11.60,...,NaN,4.0,0.0,NaN,NaN,621,1000 personnes,9.973260e+09,7.706610e+05,1424.751429
15219,276,Soudan,2744,Oeufs,Animal,2013,NaN,NaN,4.0,0.99,...,NaN,40.0,4.0,NaN,NaN,37964,1000 personnes,5.542744e+10,4.018489e+06,1458.616842
15309,351,Chine,2744,Oeufs,Animal,2013,NaN,492.0,75.0,18.65,...,1481.0,29129.0,762.0,NaN,0.0,1416667,1000 personnes,3.878126e+13,3.024938e+09,1468.041758

In [203]:
df_energie_poids_oeufs_NA['Ratio énergie/poids (kcal/kg)'].describe()

count     166.000000
mean     1343.440349
std       167.642673
min       704.450000
25%      1284.272054
50%      1384.139462
75%      1418.397547
max      2149.302500
Name: Ratio énergie/poids (kcal/kg), dtype: float64

En moyenne la valeur calorique d'un oeuf est de 1343.440349 kcal/kg, en comparant avec la valeur indiqué par wikipédia qui est de 1470 kcal/kg on remarque que ces valeurs sont assez proche.

<h3> Détermination du pourcentage de protéines de chaque produit pour chaque pays </h3>

In [204]:
Disponibilité_personnes["Pourcentage de protéines"]= ((Disponibilité_personnes["Disponibilité de protéines en quantité (g/personne/jour)"]*Disponibilité_personnes["Valeur"]*1000*365)/ (Disponibilité_personnes["Nourriture"]*1000000*1000))*100
Disponibilité_personnes

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Production,Semences,Traitement,Variation de stock,Valeur,Unité,Disponibilité (kcal),Disponibilité (kg de protéines),Ratio énergie/poids (kcal/kg),Pourcentage de protéines
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,312.0,30.0,10.0,-118.0,2977,1000 personnes,1.112684e+12,3.316318e+07,2860.368946,8.525240
1,1,Arménie,2513,Orge,Végétal,2013,137.0,26.0,0.0,0.00,...,189.0,14.0,7.0,0.0,2977,1000 personnes,0.000000e+00,0.000000e+00,NaN,NaN
2,1,Arménie,2514,Maïs,Végétal,2013,96.0,NaN,0.0,0.03,...,21.0,0.0,NaN,NaN,2977,1000 personnes,0.000000e+00,1.086605e+04,NaN,inf
3,1,Arménie,2515,Seigle,Végétal,2013,1.0,NaN,1.0,0.12,...,1.0,0.0,NaN,0.0,2977,1000 personnes,1.086605e+09,2.173210e+04,inf,inf
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,5.0,0.0,NaN,NaN,2977,1000 personnes,2.173210e+09,9.779445e+04,2173.210000,9.779445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15320,351,Chine,2781,Huiles de Poissons,Animal,2013,47.0,80.0,0.0,0.00,...,50.0,NaN,NaN,0.0,1416667,1000 personnes,0.000000e+00,0.000000e+00,NaN,NaN
15321,351,Chine,2782,Huiles de Foie de Poisso,Animal,2013,0.0,0.0,0.0,0.00,...,0.0,NaN,NaN,0.0,1416667,1000 personnes,0.000000e+00,0.000000e+00,NaN,NaN
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,136873.0,4679.0,12.0,-3998.0,1416667,1000 personnes,4.121155e+14,7.482198e+09,3755.894405,6.819045
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,40570.0,NaN,0.0,0.0,1416667,1000 personnes,3.050792e+13,1.613300e+09,648.980490,3.431897
15324,351,Chine,2899,Miscellanees,Végétal,2013,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,1416667,1000 personnes,0.000000e+00,5.170835e+06,NaN,NaN

<h3> Détermination de la teneur de protéines de l'avoine </h3>

In [205]:
df_teneur_proteines_avoine = Disponibilité_personnes.loc[(Disponibilité_personnes["Produit"]=="Avoine")]
df_teneur_proteines_avoine['Pourcentage de protéines'].describe()

count    117.000000
mean            inf
std             NaN
min        0.000000
25%        7.562800
50%        8.824949
75%       11.448955
max             inf
Name: Pourcentage de protéines, dtype: float64

In [206]:
import numpy as np 
df_teneur_proteines_avoine_NA=df_teneur_proteines_avoine.replace([np.inf,-np.inf],np.nan).dropna(subset=["Pourcentage de protéines"])
df_teneur_proteines_avoine_NA['Pourcentage de protéines'].describe()

count    92.000000
mean      8.154510
std       2.308020
min       0.000000
25%       7.341644
50%       8.479171
75%       9.234637
max      13.886060
Name: Pourcentage de protéines, dtype: float64

D'après wikipédia le pourcentage de protéines est de 10,7 et la valeur moyenne calculé est de 8,15

<center> <h2> Question 5 <h2/> </center>

Citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids.
Étonnamment, il arrive que ce ratio soit différent en fonction du pays. Il faudra donc réaliser pour chaque aliment une moyenne sur les différents pays. Vous créerez donc une nouvelle table grâce à une agrégation. Attention à bien retirer les valeurs égales à 0 afin de ne pas fausser le calcul de la moyenne.
Citez 5 aliments parmi les 20 aliments les plus riches en protéines.

<h3> Sélection des colonnes importantes </h3>

In [207]:
df_aliment_calories=Disponibilité_personnes[["Zone","Produit","Ratio énergie/poids (kcal/kg)"]]
df_aliment_calories

          Zone                   Produit  Ratio énergie/poids (kcal/kg)
0      Arménie                       Blé                    2860.368946
1      Arménie                      Orge                            NaN
2      Arménie                      Maïs                            NaN
3      Arménie                    Seigle                            inf
4      Arménie                    Avoine                    2173.210000
...        ...                       ...                            ...
15320    Chine        Huiles de Poissons                            NaN
15321    Chine  Huiles de Foie de Poisso                            NaN
15322    Chine          Riz (Eq Blanchi)                    3755.894405
15323    Chine        Lait - Excl Beurre                     648.980490
15324    Chine              Miscellanees                            NaN

[15325 rows x 3 columns]

<h3> Supression des valeurs NaN, inf et -inf et des valeurs nulles de la colonnes ratio énergie/poids (kcal/kg) </h3>

In [208]:
df_aliment_calories_sans_NA = df_aliment_calories.replace([np.inf,-np.inf],np.nan).dropna(subset=['Ratio énergie/poids (kcal/kg)'])
df_aliment_calories_sans_NA_zero= df_aliment_calories_sans_NA[(df_aliment_calories_sans_NA['Ratio énergie/poids (kcal/kg)'] >0) ]

<h3> Agrégation de la table afin d'obtenir les moyennes de ratio énergie/poids (kcal/kg) de chaque produits </h3>

In [209]:
df_aliment_calories_moyenne=df_aliment_calories_sans_NA_zero .groupby('Produit').agg('mean')
df_aliment_calories_moyenne

                          Ratio énergie/poids (kcal/kg)
Produit
Abats Comestible                            1130.422533
Agrumes, Autres                              248.435653
Aliments pour enfants                       3670.050309
Ananas                                       440.464098
Animaux Aquatiques Autre                     451.948298
...                                                 ...
Viande de Suides                            2534.081690
Viande de Volailles                         1299.811793
Viande, Autre                               1294.463333
Vin                                          759.291771
Épices, Autres                              3492.904538

[94 rows x 1 columns]

<h3> Détermination des 20 aliments les plus caloriques </h3>

In [210]:
df_20_aliments_plus_caloriques = df_aliment_calories_moyenne.nlargest(20,'Ratio énergie/poids (kcal/kg)')
df_20_aliments_plus_caloriques

                          Ratio énergie/poids (kcal/kg)
Produit
Huiles de Foie de Poisso                    9982.932500
Huile de Son de Riz                         9379.568137
Huile de Sésame                             9314.546692
Huiles de Poissons                          9003.715504
Huile d'Arachide                            8925.582634
Huile de Germe de Maïs                      8914.635341
Huile d'Olive                               8891.111102
Huil Plantes Oleif Autr                     8867.128294
Huile de Palmistes                          8797.863661
Huile Graines de Coton                      8743.068709
Huile de Palme                              8719.497538
Huile de Tournesol                          8676.050458
Huile de Soja                               8648.531981
Huile de Colza&Moutarde                     8625.014786
Huile de Coco                               8536.524516
Graisses Animales Crue                      7603.648814
Beurre, Ghee                                7346.551064
Palmistes                                   6496.635000
Sésame                                      5819.781625
Arachides Decortiquees                      5706.928520

Parmis les 20 aliments les plus caloriquess on peut citer l'huile de Foie de poisson, l'huile de son de Riz, l'huile de sésame, l'huile de poisson ou l'huile d'Arachide

<h3> Sélection des colonnes nécessaires </h3>

In [211]:
df_aliment_riche_proteine=Disponibilité_personnes[["Zone","Produit","Pourcentage de protéines"]]
df_aliment_riche_proteine

          Zone                   Produit  Pourcentage de protéines
0      Arménie                       Blé                  8.525240
1      Arménie                      Orge                       NaN
2      Arménie                      Maïs                       inf
3      Arménie                    Seigle                       inf
4      Arménie                    Avoine                  9.779445
...        ...                       ...                       ...
15320    Chine        Huiles de Poissons                       NaN
15321    Chine  Huiles de Foie de Poisso                       NaN
15322    Chine          Riz (Eq Blanchi)                  6.819045
15323    Chine        Lait - Excl Beurre                  3.431897
15324    Chine              Miscellanees                       NaN

[15325 rows x 3 columns]

<h3> Supression des valeurs NaN, inf et -inf et des valeurs nulles de la colonnes pourcentage de protéines</h3>

In [212]:
df_aliment_riche_proteine_sans_NA = df_aliment_riche_proteine.replace([np.inf,-np.inf],np.nan).dropna(subset=['Pourcentage de protéines'])
df_aliment_riche_proteine_sans_NA_zero= df_aliment_riche_proteine_sans_NA[(df_aliment_riche_proteine_sans_NA['Pourcentage de protéines'] >0) ]

<h3> Agrégation de la table afin d'obtenir les moyennes de pourcentage de protéines de chaque produits </h3>

In [213]:
df_aliment_riche_proteine_moyenne=df_aliment_riche_proteine_sans_NA_zero .groupby('Produit').agg('mean')
df_aliment_riche_proteine_moyenne

                          Pourcentage de protéines
Produit
Abats Comestible                         17.558732
Agrumes, Autres                           0.443512
Aliments pour enfants                    14.817479
Ananas                                    0.308420
Animaux Aquatiques Autre                  3.853561
...                                            ...
Viande de Suides                         10.302648
Viande de Volailles                      12.626174
Viande, Autre                            17.463164
Vin                                       0.007165
Épices, Autres                           10.748037

[88 rows x 1 columns]

<h3> Détermination des 20 aliments les plus riches en protéines </h3>

In [214]:
df_20_aliments_plus_riche_proteine = df_aliment_riche_proteine_moyenne.nlargest(20,'Pourcentage de protéines')
df_20_aliments_plus_riche_proteine

                          Pourcentage de protéines
Produit
Graines Colza/Moutarde                   28.536511
Soja                                     28.515649
Arachides Decortiquees                   25.157275
Pois                                     22.321921
Légumineuses Autres                      22.033384
Haricots                                 21.653185
Sésame                                   17.611839
Abats Comestible                         17.558732
Viande, Autre                            17.463164
Plantes Oleiferes, Autre                 17.262690
Aliments pour enfants                    14.817479
Viande de Bovins                         14.374246
Cephalopodes                             13.933627
Viande d'Ovins/Caprins                   13.584788
Viande de Volailles                      12.626174
Piments                                  12.125932
Poissons Pelagiques                      11.946368
Graines de tournesol                     11.175910
Poissons Marins, Autres                  10.999507
Épices, Autres                           10.748037

Parmis les 20 aliments les plus riches en protéines on peut citer les graines de Colza, le soja, les arachides decortiquées, les haricots ou le sésame

<center> <h2> Question 6 <h2/> </center>

Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal

<h3> Détermination de la disponibilité intérieure en kcal pour chaque produit </h3>

In [215]:
Disponibilité_personnes["Disponibilité intérieure (Kcal)"]= (Disponibilité_personnes["Ratio énergie/poids (kcal/kg)"]*Disponibilité_personnes["Disponibilité intérieure"]*1000000)
Disponibilité_personnes

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Semences,Traitement,Variation de stock,Valeur,Unité,Disponibilité (kcal),Disponibilité (kg de protéines),Ratio énergie/poids (kcal/kg),Pourcentage de protéines,Disponibilité intérieure (Kcal)
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,30.0,10.0,-118.0,2977,1000 personnes,1.112684e+12,3.316318e+07,2860.368946,8.525240,1.584644e+12
1,1,Arménie,2513,Orge,Végétal,2013,137.0,26.0,0.0,0.00,...,14.0,7.0,0.0,2977,1000 personnes,0.000000e+00,0.000000e+00,NaN,NaN,NaN
2,1,Arménie,2514,Maïs,Végétal,2013,96.0,NaN,0.0,0.03,...,0.0,NaN,NaN,2977,1000 personnes,0.000000e+00,1.086605e+04,NaN,inf,NaN
3,1,Arménie,2515,Seigle,Végétal,2013,1.0,NaN,1.0,0.12,...,0.0,NaN,0.0,2977,1000 personnes,1.086605e+09,2.173210e+04,inf,inf,inf
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,0.0,NaN,NaN,2977,1000 personnes,2.173210e+09,9.779445e+04,2173.210000,9.779445,1.303926e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15320,351,Chine,2781,Huiles de Poissons,Animal,2013,47.0,80.0,0.0,0.00,...,NaN,NaN,0.0,1416667,1000 personnes,0.000000e+00,0.000000e+00,NaN,NaN,NaN
15321,351,Chine,2782,Huiles de Foie de Poisso,Animal,2013,0.0,0.0,0.0,0.00,...,NaN,NaN,0.0,1416667,1000 personnes,0.000000e+00,0.000000e+00,NaN,NaN,NaN
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,4679.0,12.0,-3998.0,1416667,1000 personnes,4.121155e+14,7.482198e+09,3755.894405,6.819045,5.071359e+14
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,NaN,0.0,0.0,1416667,1000 personnes,3.050792e+13,1.613300e+09,648.980490,3.431897,3.252496e+13
15324,351,Chine,2899,Miscellanees,Végétal,2013,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,1416667,1000 personnes,0.000000e+00,5.170835e+06,NaN,NaN,NaN

<h3> Supression des valeurs NaN, inf et -inf et des valeurs nulles de la colonnes disponibilité intérieure (kcal) </h3>

In [216]:
disponibilite_interieur_kcal_sans_NA = Disponibilité_personnes.replace([np.inf,-np.inf],np.nan).dropna(subset=['Disponibilité intérieure (Kcal)'])
disponibilite_interieur_kcal_sans_NA_zero= disponibilite_interieur_kcal_sans_NA[(disponibilite_interieur_kcal_sans_NA['Disponibilité intérieure (Kcal)'] >0) ]
disponibilite_interieur_kcal_sans_NA_zero

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Semences,Traitement,Variation de stock,Valeur,Unité,Disponibilité (kcal),Disponibilité (kg de protéines),Ratio énergie/poids (kcal/kg),Pourcentage de protéines,Disponibilité intérieure (Kcal)
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,30.0,10.0,-118.0,2977,1000 personnes,1.112684e+12,3.316318e+07,2860.368946,8.525240,1.584644e+12
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,0.0,NaN,NaN,2977,1000 personnes,2.173210e+09,9.779445e+04,2173.210000,9.779445,1.303926e+10
7,1,Arménie,2520,"Céréales, Autres",Végétal,2013,1.0,12.0,14.0,1.96,...,1.0,NaN,0.0,2977,1000 personnes,1.521247e+10,4.237760e+05,2535.411667,7.062933,5.324364e+10
8,1,Arménie,2531,Pommes de Terre,Végétal,2013,225.0,16.0,82.0,45.10,...,123.0,78.0,15.0,2977,1000 personnes,8.910161e+10,2.108014e+06,664.937388,1.573145,4.468379e+11
12,1,Arménie,2542,Sucre Eq Brut,Végétal,2013,NaN,0.0,302.0,33.03,...,NaN,NaN,3.0,2977,1000 personnes,3.281547e+11,NaN,3348.517449,NaN,3.114121e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15317,351,Chine,2767,"Mollusques, Autres",Animal,2013,NaN,0.0,4.0,8.85,...,0.0,NaN,0.0,1416667,1000 personnes,2.068334e+12,2.895667e+08,164.978370,2.309697,2.068334e+12
15318,351,Chine,2769,Animaux Aquatiques Autre,Animal,2013,NaN,0.0,1.0,0.67,...,NaN,NaN,NaN,1416667,1000 personnes,5.170835e+11,3.619584e+07,542.584948,3.798095,5.170835e+11
15319,351,Chine,2775,Plantes Aquatiques,Animal,2013,NaN,20.0,9.0,9.24,...,NaN,NaN,NaN,1416667,1000 personnes,4.653751e+12,3.567876e+08,355.628236,2.726483,4.660864e+12
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,4679.0,12.0,-3998.0,1416667,1000 personnes,4.121155e+14,7.482198e+09,3755.894405,6.819045,5.071359e+14
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,NaN,0.0,0.0,1416667,1000 personnes,3.050792e+13,1.613300e+09,648.980490,3.431897,3.252496e+13

<h3> Détermination de la disponibilité intérieure végatale en kcal mondiale </h3>

In [217]:
disponibilité_kcal_vegetaux_mondiale= disponibilite_interieur_kcal_sans_NA_zero["Disponibilité intérieure (Kcal)"].loc[(disponibilite_interieur_kcal_sans_NA_zero["Type de produit"]=='Végétal')].sum()
print("Concernant les produits végétaux, la disponibilité intérieure mondiale est de " + str(disponibilité_kcal_vegetaux_mondiale) + " Kcal")

Concernant les produits végétaux, la disponibilité intérieure mondiale est de 1.2308429786319148e+16 Kcal

<center> <h2> Question 7 <h2/> </center>

Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale

<h3> Détermination du nombre de calories consommée par jour par personne </h3>

In [218]:
Besoins_calories_jour=2500

<h3> Détermination du nombre d'humain nourries avec la disponibilité intérieure mondiale de produits végétaux </h3>

In [219]:
Personnes_nourris_disponibilité_kcal_vegetal= disponibilité_kcal_vegetaux_mondiale / (Besoins_calories_jour*365)
print(str(Personnes_nourris_disponibilité_kcal_vegetal) + " personnes pourraient être nourris avec la disponibilité intérieure en kcal mondiale de produits végétaux")

13488690176.788107 personnes pourraient être nourris avec la disponibilité intérieure en kcal mondiale de produits végétaux

<h3> Détermination de la disponibilité intérieure végétale en terme de protéines pour chaque produits </h3>

In [220]:
Disponibilité_personnes["Disponibilité intérieure en protéine (kg)"]= (Disponibilité_personnes["Pourcentage de protéines"]*Disponibilité_personnes["Disponibilité intérieure"]*1000000)*0.01
Disponibilité_personnes

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Traitement,Variation de stock,Valeur,Unité,Disponibilité (kcal),Disponibilité (kg de protéines),Ratio énergie/poids (kcal/kg),Pourcentage de protéines,Disponibilité intérieure (Kcal),Disponibilité intérieure en protéine (kg)
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,10.0,-118.0,2977,1000 personnes,1.112684e+12,3.316318e+07,2860.368946,8.525240,1.584644e+12,4.722983e+07
1,1,Arménie,2513,Orge,Végétal,2013,137.0,26.0,0.0,0.00,...,7.0,0.0,2977,1000 personnes,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN
2,1,Arménie,2514,Maïs,Végétal,2013,96.0,NaN,0.0,0.03,...,NaN,NaN,2977,1000 personnes,0.000000e+00,1.086605e+04,NaN,inf,NaN,inf
3,1,Arménie,2515,Seigle,Végétal,2013,1.0,NaN,1.0,0.12,...,NaN,0.0,2977,1000 personnes,1.086605e+09,2.173210e+04,inf,inf,inf,inf
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,NaN,NaN,2977,1000 personnes,2.173210e+09,9.779445e+04,2173.210000,9.779445,1.303926e+10,5.867667e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15320,351,Chine,2781,Huiles de Poissons,Animal,2013,47.0,80.0,0.0,0.00,...,NaN,0.0,1416667,1000 personnes,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN
15321,351,Chine,2782,Huiles de Foie de Poisso,Animal,2013,0.0,0.0,0.0,0.00,...,NaN,0.0,1416667,1000 personnes,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,12.0,-3998.0,1416667,1000 personnes,4.121155e+14,7.482198e+09,3755.894405,6.819045,5.071359e+14,9.207348e+09
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,0.0,0.0,1416667,1000 personnes,3.050792e+13,1.613300e+09,648.980490,3.431897,3.252496e+13,1.719964e+09
15324,351,Chine,2899,Miscellanees,Végétal,2013,NaN,NaN,0.0,NaN,...,NaN,NaN,1416667,1000 personnes,0.000000e+00,5.170835e+06,NaN,NaN,NaN,NaN

<h3> Supression des valeurs NaN, inf et -inf et des valeurs nulles de la colonnes disponibilité intérieure en protéine </h3>

In [221]:
disponibilite_interieur_proteine_sans_NA = Disponibilité_personnes.replace([np.inf,-np.inf],np.nan).dropna(subset=['Disponibilité intérieure en protéine (kg)'])
disponibilite_interieur_proteine_sans_NA_zero= disponibilite_interieur_proteine_sans_NA[(disponibilite_interieur_proteine_sans_NA['Disponibilité intérieure en protéine (kg)'] >0) ]
disponibilite_interieur_proteine_sans_NA_zero

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Traitement,Variation de stock,Valeur,Unité,Disponibilité (kcal),Disponibilité (kg de protéines),Ratio énergie/poids (kcal/kg),Pourcentage de protéines,Disponibilité intérieure (Kcal),Disponibilité intérieure en protéine (kg)
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,10.0,-118.0,2977,1000 personnes,1.112684e+12,3.316318e+07,2860.368946,8.525240,1.584644e+12,4.722983e+07
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,NaN,NaN,2977,1000 personnes,2.173210e+09,9.779445e+04,2173.210000,9.779445,1.303926e+10,5.867667e+05
7,1,Arménie,2520,"Céréales, Autres",Végétal,2013,1.0,12.0,14.0,1.96,...,NaN,0.0,2977,1000 personnes,1.521247e+10,4.237760e+05,2535.411667,7.062933,5.324364e+10,1.483216e+06
8,1,Arménie,2531,Pommes de Terre,Végétal,2013,225.0,16.0,82.0,45.10,...,78.0,15.0,2977,1000 personnes,8.910161e+10,2.108014e+06,664.937388,1.573145,4.468379e+11,1.057153e+07
17,1,Arménie,2551,Noix,Végétal,2013,NaN,NaN,18.0,2.15,...,NaN,0.0,2977,1000 personnes,1.955889e+10,4.563741e+05,3259.815000,7.606235,1.955889e+10,4.563741e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15317,351,Chine,2767,"Mollusques, Autres",Animal,2013,NaN,0.0,4.0,8.85,...,NaN,0.0,1416667,1000 personnes,2.068334e+12,2.895667e+08,164.978370,2.309697,2.068334e+12,2.895667e+08
15318,351,Chine,2769,Animaux Aquatiques Autre,Animal,2013,NaN,0.0,1.0,0.67,...,NaN,NaN,1416667,1000 personnes,5.170835e+11,3.619584e+07,542.584948,3.798095,5.170835e+11,3.619584e+07
15319,351,Chine,2775,Plantes Aquatiques,Animal,2013,NaN,20.0,9.0,9.24,...,NaN,NaN,1416667,1000 personnes,4.653751e+12,3.567876e+08,355.628236,2.726483,4.660864e+12,3.573329e+08
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,12.0,-3998.0,1416667,1000 personnes,4.121155e+14,7.482198e+09,3755.894405,6.819045,5.071359e+14,9.207348e+09
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,0.0,0.0,1416667,1000 personnes,3.050792e+13,1.613300e+09,648.980490,3.431897,3.252496e+13,1.719964e+09

<h3> Détermination de la disponibilité intérieure en protéine mondiale </h3>

In [222]:
disponibilité_vegetaux_proteine_mondiale= disponibilite_interieur_proteine_sans_NA_zero["Disponibilité intérieure en protéine (kg)"].loc[(disponibilite_interieur_proteine_sans_NA_zero["Type de produit"]=='Végétal')].sum()
print("Concernant les produits végétaux, la disponibilité intérieure mondiale en protéine est de " + str(disponibilité_vegetaux_proteine_mondiale)+" kg")

Concernant les produits végétaux, la disponibilité intérieure mondiale en protéine est de 290493760825.40405 kg

<h3> Détermination du nombre d'humains nourris avec la disponibilité intérieure en protéine mondiale de produits végétaux </h3>

In [223]:
Personnes_nourris_disponibilité_proteine_vegetal= disponibilité_vegetaux_proteine_mondiale / (0.9*0.001*65*365)
print(str(Personnes_nourris_disponibilité_proteine_vegetal) + " personnes pourraient être nourris avec la disponibilité intérieure mondiale en protéine de produit végétaux")

13604672091.108957 personnes pourraient être nourris avec la disponibilité intérieure mondiale en protéine de produit végétaux

<h3> Détermination du pourcentage d'humains nourris avac la disponibilité intérieure mondiale de produits végétaux </h3>

In [224]:
pourcentage_population_calories=Personnes_nourris_disponibilité_kcal_vegetal / nb_totalHumainsMondiale *100
print("Le pourcentage d'humains nourris avec la disponibilité intérieure mondiale en Kcal de produit véfétaux " +str(pourcentage_population_calories)+ " %")

Le pourcentage d'humains nourris avec la disponibilité intérieure mondiale en Kcal de produit véfétaux 192.76921179302076 %

In [225]:
pourcentage_population_proteines=Personnes_nourris_disponibilité_proteine_vegetal / nb_totalHumainsMondiale *100
print("Le pourcentage d'humain nourris avec la disponibilité intérieure mondiale en protéine de produit véfétaux " +str(pourcentage_population_proteines)+ " %")

Le pourcentage d'humain nourris avec la disponibilité intérieure mondiale en protéine de produit véfétaux 194.42672945506553 %

<center> <h2> Question 8 <h2/> </center>

<h3> Détermination de la pertes et d'aliments pour animaux en Kcal pour chaque produit </h3>

In [226]:
Disponibilité_personnes["Pertes (Kcal)"]= (Disponibilité_personnes["Ratio énergie/poids (kcal/kg)"]*Disponibilité_personnes["Pertes"]*1000000)
Disponibilité_personnes["Aliments pour animaux (Kcal)"]= (Disponibilité_personnes["Ratio énergie/poids (kcal/kg)"]*Disponibilité_personnes["Aliments pour animaux"]*1000000)
Disponibilité_personnes

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Valeur,Unité,Disponibilité (kcal),Disponibilité (kg de protéines),Ratio énergie/poids (kcal/kg),Pourcentage de protéines,Disponibilité intérieure (Kcal),Disponibilité intérieure en protéine (kg),Pertes (Kcal),Aliments pour animaux (Kcal)
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,2977,1000 personnes,1.112684e+12,3.316318e+07,2860.368946,8.525240,1.584644e+12,4.722983e+07,9.153181e+10,2.660143e+11
1,1,Arménie,2513,Orge,Végétal,2013,137.0,26.0,0.0,0.00,...,2977,1000 personnes,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Arménie,2514,Maïs,Végétal,2013,96.0,NaN,0.0,0.03,...,2977,1000 personnes,0.000000e+00,1.086605e+04,NaN,inf,NaN,inf,NaN,NaN
3,1,Arménie,2515,Seigle,Végétal,2013,1.0,NaN,1.0,0.12,...,2977,1000 personnes,1.086605e+09,2.173210e+04,inf,inf,inf,inf,NaN,inf
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,2977,1000 personnes,2.173210e+09,9.779445e+04,2173.210000,9.779445,1.303926e+10,5.867667e+05,0.000000e+00,8.692840e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15320,351,Chine,2781,Huiles de Poissons,Animal,2013,47.0,80.0,0.0,0.00,...,1416667,1000 personnes,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
15321,351,Chine,2782,Huiles de Foie de Poisso,Animal,2013,0.0,0.0,0.0,0.00,...,1416667,1000 personnes,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,1416667,1000 personnes,4.121155e+14,7.482198e+09,3755.894405,6.819045,5.071359e+14,9.207348e+09,2.406026e+13,4.551017e+13
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,1416667,1000 personnes,3.050792e+13,1.613300e+09,648.980490,3.431897,3.252496e+13,1.719964e+09,9.299890e+11,1.059136e+12
15324,351,Chine,2899,Miscellanees,Végétal,2013,NaN,NaN,0.0,NaN,...,1416667,1000 personnes,0.000000e+00,5.170835e+06,NaN,NaN,NaN,NaN,NaN,NaN

<h3> Supression des valeurs NaN, inf et -inf et des valeurs nulles de la colonne pertes en Kcal </h3>

In [227]:
pertes_kcal_sans_NA = Disponibilité_personnes.replace([np.inf,-np.inf],np.nan).dropna(subset=['Pertes (Kcal)'])
pertes_kcal_sans_NA_zero= pertes_kcal_sans_NA[(pertes_kcal_sans_NA['Pertes (Kcal)'] >0) ]
pertes_kcal_sans_NA_zero

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Valeur,Unité,Disponibilité (kcal),Disponibilité (kg de protéines),Ratio énergie/poids (kcal/kg),Pourcentage de protéines,Disponibilité intérieure (Kcal),Disponibilité intérieure en protéine (kg),Pertes (Kcal),Aliments pour animaux (Kcal)
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,2977,1000 personnes,1.112684e+12,3.316318e+07,2860.368946,8.525240,1.584644e+12,4.722983e+07,9.153181e+10,2.660143e+11
7,1,Arménie,2520,"Céréales, Autres",Végétal,2013,1.0,12.0,14.0,1.96,...,2977,1000 personnes,1.521247e+10,4.237760e+05,2535.411667,7.062933,5.324364e+10,1.483216e+06,2.535412e+09,2.535412e+09
8,1,Arménie,2531,Pommes de Terre,Végétal,2013,225.0,16.0,82.0,45.10,...,2977,1000 personnes,8.910161e+10,2.108014e+06,664.937388,1.573145,4.468379e+11,1.057153e+07,6.383399e+10,1.496109e+11
38,1,Arménie,2601,Tomates,Végétal,2013,NaN,NaN,41.0,88.10,...,2977,1000 personnes,4.455080e+10,2.108014e+06,170.041240,0.804585,4.642126e+10,2.196518e+06,1.870454e+09,NaN
40,1,Arménie,2605,"Légumes, Autres",Végétal,2013,13.0,NaN,143.0,243.22,...,2977,1000 personnes,1.553845e+11,7.236789e+06,214.619496,0.999557,1.639693e+11,7.636612e+06,5.794726e+09,2.790053e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15293,351,Chine,2645,"Épices, Autres",Végétal,2013,NaN,0.0,1.0,0.15,...,1416667,1000 personnes,5.170835e+11,2.068334e+07,2405.039326,9.620157,5.218935e+11,2.087574e+07,4.810079e+09,NaN
15296,351,Chine,2657,Boissons Fermentés,Végétal,2013,NaN,0.0,3.0,1.97,...,1416667,1000 personnes,1.551250e+12,5.170835e+06,556.003715,0.185335,1.582943e+12,5.276475e+06,3.169221e+10,NaN
15309,351,Chine,2744,Oeufs,Animal,2013,NaN,492.0,75.0,18.65,...,1416667,1000 personnes,3.878126e+13,3.024938e+09,1468.041758,11.450726,4.279635e+13,3.338116e+09,2.174170e+12,NaN
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,1416667,1000 personnes,4.121155e+14,7.482198e+09,3755.894405,6.819045,5.071359e+14,9.207348e+09,2.406026e+13,4.551017e+13
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,1416667,1000 personnes,3.050792e+13,1.613300e+09,648.980490,3.431897,3.252496e+13,1.719964e+09,9.299890e+11,1.059136e+12

<h3> Supression des valeurs NaN, inf et -inf et des valeurs nulles de la colonne aliments pour animaux en Kcal </h3>

In [228]:
aliment_animaux_kcal_sans_NA = Disponibilité_personnes.replace([np.inf,-np.inf],np.nan).dropna(subset=['Aliments pour animaux (Kcal)'])
aliment_animaux_kcal_sans_NA_zero= aliment_animaux_kcal_sans_NA[(aliment_animaux_kcal_sans_NA['Aliments pour animaux (Kcal)'] >0) ]
aliment_animaux_kcal_sans_NA_zero

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Valeur,Unité,Disponibilité (kcal),Disponibilité (kg de protéines),Ratio énergie/poids (kcal/kg),Pourcentage de protéines,Disponibilité intérieure (Kcal),Disponibilité intérieure en protéine (kg),Pertes (Kcal),Aliments pour animaux (Kcal)
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,2977,1000 personnes,1.112684e+12,3.316318e+07,2860.368946,8.525240,1.584644e+12,4.722983e+07,9.153181e+10,2.660143e+11
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,2977,1000 personnes,2.173210e+09,9.779445e+04,2173.210000,9.779445,1.303926e+10,5.867667e+05,0.000000e+00,8.692840e+09
7,1,Arménie,2520,"Céréales, Autres",Végétal,2013,1.0,12.0,14.0,1.96,...,2977,1000 personnes,1.521247e+10,4.237760e+05,2535.411667,7.062933,5.324364e+10,1.483216e+06,2.535412e+09,2.535412e+09
8,1,Arménie,2531,Pommes de Terre,Végétal,2013,225.0,16.0,82.0,45.10,...,2977,1000 personnes,8.910161e+10,2.108014e+06,664.937388,1.573145,4.468379e+11,1.057153e+07,6.383399e+10,1.496109e+11
40,1,Arménie,2605,"Légumes, Autres",Végétal,2013,13.0,NaN,143.0,243.22,...,2977,1000 personnes,1.553845e+11,7.236789e+06,214.619496,0.999557,1.639693e+11,7.636612e+06,5.794726e+09,2.790053e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15306,351,Chine,2737,Graisses Animales Crue,Animal,2013,33.0,1634.0,36.0,1.91,...,1416667,1000 personnes,1.861500e+13,0.000000e+00,6869.005306,0.000000,2.999008e+13,0.000000e+00,NaN,2.266772e+11
15313,351,Chine,2763,Poissons Pelagiques,Animal,2013,9575.0,40.0,1.0,0.39,...,1416667,1000 personnes,5.170835e+11,6.722085e+07,947.039295,12.311511,9.622866e+12,1.250973e+09,NaN,9.067901e+12
15314,351,Chine,2764,"Poissons Marins, Autres",Animal,2013,60.0,0.0,3.0,1.44,...,1416667,1000 personnes,1.551250e+12,2.533709e+08,762.285192,12.450658,1.598512e+12,2.610903e+08,NaN,4.573711e+10
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,1416667,1000 personnes,4.121155e+14,7.482198e+09,3755.894405,6.819045,5.071359e+14,9.207348e+09,2.406026e+13,4.551017e+13
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,1416667,1000 personnes,3.050792e+13,1.613300e+09,648.980490,3.431897,3.252496e+13,1.719964e+09,9.299890e+11,1.059136e+12

<h3> Supression des valeurs NaN, inf et -inf et des valeurs nulles de la colonne disponibilité en Kcal </h3>

In [229]:
disponibilite_alimentaire_kcal_sans_NA = Disponibilité_personnes.replace([np.inf,-np.inf],np.nan).dropna(subset=['Disponibilité (kcal)'])
disponibilite_alimentaire_kcal_sans_NA_zero= disponibilite_alimentaire_kcal_sans_NA[(disponibilite_alimentaire_kcal_sans_NA['Disponibilité (kcal)'] >0) ]
disponibilite_alimentaire_kcal_sans_NA_zero

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Valeur,Unité,Disponibilité (kcal),Disponibilité (kg de protéines),Ratio énergie/poids (kcal/kg),Pourcentage de protéines,Disponibilité intérieure (Kcal),Disponibilité intérieure en protéine (kg),Pertes (Kcal),Aliments pour animaux (Kcal)
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,2977,1000 personnes,1.112684e+12,3.316318e+07,2860.368946,8.525240,1.584644e+12,4.722983e+07,9.153181e+10,2.660143e+11
3,1,Arménie,2515,Seigle,Végétal,2013,1.0,NaN,1.0,0.12,...,2977,1000 personnes,1.086605e+09,2.173210e+04,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,2977,1000 personnes,2.173210e+09,9.779445e+04,2173.210000,9.779445,1.303926e+10,5.867667e+05,0.000000e+00,8.692840e+09
7,1,Arménie,2520,"Céréales, Autres",Végétal,2013,1.0,12.0,14.0,1.96,...,2977,1000 personnes,1.521247e+10,4.237760e+05,2535.411667,7.062933,5.324364e+10,1.483216e+06,2.535412e+09,2.535412e+09
8,1,Arménie,2531,Pommes de Terre,Végétal,2013,225.0,16.0,82.0,45.10,...,2977,1000 personnes,8.910161e+10,2.108014e+06,664.937388,1.573145,4.468379e+11,1.057153e+07,6.383399e+10,1.496109e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15317,351,Chine,2767,"Mollusques, Autres",Animal,2013,NaN,0.0,4.0,8.85,...,1416667,1000 personnes,2.068334e+12,2.895667e+08,164.978370,2.309697,2.068334e+12,2.895667e+08,NaN,NaN
15318,351,Chine,2769,Animaux Aquatiques Autre,Animal,2013,NaN,0.0,1.0,0.67,...,1416667,1000 personnes,5.170835e+11,3.619584e+07,542.584948,3.798095,5.170835e+11,3.619584e+07,NaN,NaN
15319,351,Chine,2775,Plantes Aquatiques,Animal,2013,NaN,20.0,9.0,9.24,...,1416667,1000 personnes,4.653751e+12,3.567876e+08,355.628236,2.726483,4.660864e+12,3.573329e+08,NaN,NaN
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,1416667,1000 personnes,4.121155e+14,7.482198e+09,3755.894405,6.819045,5.071359e+14,9.207348e+09,2.406026e+13,4.551017e+13
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,1416667,1000 personnes,3.050792e+13,1.613300e+09,648.980490,3.431897,3.252496e+13,1.719964e+09,9.299890e+11,1.059136e+12

<h3> Détermination de disponibilité alimentaire en produits végétaux mondiale en Kcal </h3>

In [230]:
disponibilite_alimentaire_kcal_vegetaux_mondiale = disponibilite_alimentaire_kcal_sans_NA_zero["Disponibilité (kcal)"].loc[(disponibilite_alimentaire_kcal_sans_NA_zero["Type de produit"]=='Végétal')].sum()
print("Concernant les produits végétaux, la disponibilité alimentaire mondiale est de " + str(disponibilite_alimentaire_kcal_vegetaux_mondiale) + " Kcal")

Concernant les produits végétaux, la disponibilité alimentaire mondiale est de 6051581108550000.0 Kcal

<h3> Détermination du nombre d'humain nourri avec la disponibilité alimentaire de produits végétaux

In [231]:
Personnes_nourris_disponibilité_kcal_vegetal= disponibilite_alimentaire_kcal_vegetaux_mondiale / (Besoins_calories_jour*365)
print(str(Personnes_nourris_disponibilité_kcal_vegetal) + " personnes pourraient être nourris avec la disponibilité alimentaire en kcal mondiale de produits végétaux")

6631869708.0 personnes pourraient être nourris avec la disponibilité alimentaire en kcal mondiale de produits végétaux

<h3> Détermination du nombre d'humain nourri avec les pertes et la nourriture destinée aux animaux en kcal

In [232]:
Personnes_nourris_aliment_animaux_pertes_kcal_vegetal= (pertes_kcal_sans_NA_zero["Pertes (Kcal)"].loc[(pertes_kcal_sans_NA_zero["Type de produit"]=='Végétal')].sum()+aliment_animaux_kcal_sans_NA_zero["Aliments pour animaux (Kcal)"].loc[(aliment_animaux_kcal_sans_NA_zero["Type de produit"]=='Végétal')].sum() ) / (Besoins_calories_jour*365)
print(str(Personnes_nourris_aliment_animaux_pertes_kcal_vegetal) + " personnes pourraient être nourris avec les pertes de produit végétal et l'alimentation destinée aux animaux en kcal")

3423216265.129299 personnes pourraient être nourris avec les pertes de produit végétal et l'alimentation destinée aux animaux en kcal

<h3> Détermination de disponibilité alimentaire en produits végétaux, la nourriture végétales destinée aux animaux et les pertes en kcal mondiale </h3>

In [233]:
disponibilite_pertes_aliment_animaux_kcal_vegetaux_mondiale= disponibilite_alimentaire_kcal_vegetaux_mondiale + pertes_kcal_sans_NA_zero["Pertes (Kcal)"].loc[(pertes_kcal_sans_NA_zero["Type de produit"]=='Végétal')].sum() + aliment_animaux_kcal_sans_NA_zero["Aliments pour animaux (Kcal)"].loc[(aliment_animaux_kcal_sans_NA_zero["Type de produit"]=='Végétal')].sum() 
print("Concernant les produits végétaux, la somme de la disponibilité alimentaire, des pertes et des aliments pour animaux est de " + str(disponibilite_pertes_aliment_animaux_kcal_vegetaux_mondiale) + " Kcal")

Concernant les produits végétaux, la somme de la disponibilité alimentaire, des pertes et des aliments pour animaux est de 9175265950480484.0 Kcal

<h3> Détermination du nombre d'humain nourrit avec la disponibilité alimentaire mondiale de produit végétal, la nourriture végétale destinée aux animaux et les pertes en kcal </h3>

In [234]:
Personnes_nourris_disponibilité_aliment_animaux_pertes_kcal_vegetal= disponibilite_pertes_aliment_animaux_kcal_vegetaux_mondiale / (Besoins_calories_jour*365)
print(str(Personnes_nourris_disponibilité_aliment_animaux_pertes_kcal_vegetal) + " personnes pourraient être nourries avec la disponibilité alimentaire en kcal mondiale de produits végétaux, la nourriture végétale destinée aux animaux et les pertes en kcal")

10055085973.129297 personnes pourraient être nourries avec la disponibilité alimentaire en kcal mondiale de produits végétaux, la nourriture végétale destinée aux animaux et les pertes en kcal

<h3> Détermination du pourcentage d'humains nourris avec la disponibilité alimentaire mondiale de produits végétaux, la nourriture végétale destinée aux animaux et les pertes </h3>

In [235]:
pourcentage_population_disponibilite_pertes_animaux_calories=Personnes_nourris_disponibilité_aliment_animaux_pertes_kcal_vegetal / nb_totalHumainsMondiale *100
print("Le pourcentage d'humain nourris avec la disponibilité alimentaire mondiale en Kcal de produit végétaux, la nourriture destinées aux animaux et les pertes est de " +str(pourcentage_population_disponibilite_pertes_animaux_calories)+ " %")

Le pourcentage d'humain nourris avec la disponibilité alimentaire mondiale en Kcal de produit végétaux, la nourriture destinées aux animaux et les pertes est de 143.69897834014446 %

<h3> Détermination de la pertes et des aliments pour animaux en termes de protéine pour chaque produits </h3>

In [236]:
Disponibilité_personnes["Pertes en protéine (Kg)"]= (Disponibilité_personnes["Pourcentage de protéines"]*Disponibilité_personnes["Pertes"]*1000000)*0.01
Disponibilité_personnes["Aliments pour animaux en protéine (Kg)"]= (Disponibilité_personnes["Pourcentage de protéines"]*Disponibilité_personnes["Aliments pour animaux"]*1000000)*0.01
Disponibilité_personnes

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité (kcal),Disponibilité (kg de protéines),Ratio énergie/poids (kcal/kg),Pourcentage de protéines,Disponibilité intérieure (Kcal),Disponibilité intérieure en protéine (kg),Pertes (Kcal),Aliments pour animaux (Kcal),Pertes en protéine (Kg),Aliments pour animaux en protéine (Kg)
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,1.112684e+12,3.316318e+07,2860.368946,8.525240,1.584644e+12,4.722983e+07,9.153181e+10,2.660143e+11,2.728077e+06,7.928473e+06
1,1,Arménie,2513,Orge,Végétal,2013,137.0,26.0,0.0,0.00,...,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Arménie,2514,Maïs,Végétal,2013,96.0,NaN,0.0,0.03,...,0.000000e+00,1.086605e+04,NaN,inf,NaN,inf,NaN,NaN,inf,inf
3,1,Arménie,2515,Seigle,Végétal,2013,1.0,NaN,1.0,0.12,...,1.086605e+09,2.173210e+04,inf,inf,inf,inf,NaN,inf,NaN,inf
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,2.173210e+09,9.779445e+04,2173.210000,9.779445,1.303926e+10,5.867667e+05,0.000000e+00,8.692840e+09,0.000000e+00,3.911778e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15320,351,Chine,2781,Huiles de Poissons,Animal,2013,47.0,80.0,0.0,0.00,...,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15321,351,Chine,2782,Huiles de Foie de Poisso,Animal,2013,0.0,0.0,0.0,0.00,...,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,4.121155e+14,7.482198e+09,3755.894405,6.819045,5.071359e+14,9.207348e+09,2.406026e+13,4.551017e+13,4.368280e+08,8.262637e+08
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,3.050792e+13,1.613300e+09,648.980490,3.431897,3.252496e+13,1.719964e+09,9.299890e+11,1.059136e+12,4.917908e+07,5.600856e+07
15324,351,Chine,2899,Miscellanees,Végétal,2013,NaN,NaN,0.0,NaN,...,0.000000e+00,5.170835e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h3> Supression des valeurs NaN, inf et -inf et des valeurs nulles de la colonne pertes en protéines (Kg) </h3>

In [237]:
pertes_proteine_sans_NA = Disponibilité_personnes.replace([np.inf,-np.inf],np.nan).dropna(subset=['Pertes en protéine (Kg)'])
pertes_proteine_sans_NA_zero= pertes_proteine_sans_NA[(pertes_proteine_sans_NA['Pertes en protéine (Kg)'] >0) ]
pertes_proteine_sans_NA_zero

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité (kcal),Disponibilité (kg de protéines),Ratio énergie/poids (kcal/kg),Pourcentage de protéines,Disponibilité intérieure (Kcal),Disponibilité intérieure en protéine (kg),Pertes (Kcal),Aliments pour animaux (Kcal),Pertes en protéine (Kg),Aliments pour animaux en protéine (Kg)
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,1.112684e+12,3.316318e+07,2860.368946,8.525240,1.584644e+12,4.722983e+07,9.153181e+10,2.660143e+11,2.728077e+06,7.928473e+06
7,1,Arménie,2520,"Céréales, Autres",Végétal,2013,1.0,12.0,14.0,1.96,...,1.521247e+10,4.237760e+05,2535.411667,7.062933,5.324364e+10,1.483216e+06,2.535412e+09,2.535412e+09,7.062933e+04,7.062933e+04
8,1,Arménie,2531,Pommes de Terre,Végétal,2013,225.0,16.0,82.0,45.10,...,8.910161e+10,2.108014e+06,664.937388,1.573145,4.468379e+11,1.057153e+07,6.383399e+10,1.496109e+11,1.510219e+06,3.539575e+06
38,1,Arménie,2601,Tomates,Végétal,2013,NaN,NaN,41.0,88.10,...,4.455080e+10,2.108014e+06,170.041240,0.804585,4.642126e+10,2.196518e+06,1.870454e+09,NaN,8.850439e+04,NaN
40,1,Arménie,2605,"Légumes, Autres",Végétal,2013,13.0,NaN,143.0,243.22,...,1.553845e+11,7.236789e+06,214.619496,0.999557,1.639693e+11,7.636612e+06,5.794726e+09,2.790053e+09,2.698803e+05,1.299423e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15293,351,Chine,2645,"Épices, Autres",Végétal,2013,NaN,0.0,1.0,0.15,...,5.170835e+11,2.068334e+07,2405.039326,9.620157,5.218935e+11,2.087574e+07,4.810079e+09,NaN,1.924031e+05,NaN
15296,351,Chine,2657,Boissons Fermentés,Végétal,2013,NaN,0.0,3.0,1.97,...,1.551250e+12,5.170835e+06,556.003715,0.185335,1.582943e+12,5.276475e+06,3.169221e+10,NaN,1.056407e+05,NaN
15309,351,Chine,2744,Oeufs,Animal,2013,NaN,492.0,75.0,18.65,...,3.878126e+13,3.024938e+09,1468.041758,11.450726,4.279635e+13,3.338116e+09,2.174170e+12,NaN,1.695852e+08,NaN
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,4.121155e+14,7.482198e+09,3755.894405,6.819045,5.071359e+14,9.207348e+09,2.406026e+13,4.551017e+13,4.368280e+08,8.262637e+08
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,3.050792e+13,1.613300e+09,648.980490,3.431897,3.252496e+13,1.719964e+09,9.299890e+11,1.059136e+12,4.917908e+07,5.600856e+07

<h3> Supression des valeurs NaN, inf et -inf et des valeurs nulles de la colonne aliments pour animaux en protéine (kg) </h3>

In [238]:
aliment_animaux_proteine_sans_NA = Disponibilité_personnes.replace([np.inf,-np.inf],np.nan).dropna(subset=['Aliments pour animaux en protéine (Kg)'])
aliment_animaux_proteine_sans_NA_zero= aliment_animaux_proteine_sans_NA[(aliment_animaux_proteine_sans_NA['Aliments pour animaux en protéine (Kg)'] >0) ]
aliment_animaux_proteine_sans_NA_zero

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité (kcal),Disponibilité (kg de protéines),Ratio énergie/poids (kcal/kg),Pourcentage de protéines,Disponibilité intérieure (Kcal),Disponibilité intérieure en protéine (kg),Pertes (Kcal),Aliments pour animaux (Kcal),Pertes en protéine (Kg),Aliments pour animaux en protéine (Kg)
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,1.112684e+12,3.316318e+07,2860.368946,8.525240,1.584644e+12,4.722983e+07,9.153181e+10,2.660143e+11,2.728077e+06,7.928473e+06
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,2.173210e+09,9.779445e+04,2173.210000,9.779445,1.303926e+10,5.867667e+05,0.000000e+00,8.692840e+09,0.000000e+00,3.911778e+05
7,1,Arménie,2520,"Céréales, Autres",Végétal,2013,1.0,12.0,14.0,1.96,...,1.521247e+10,4.237760e+05,2535.411667,7.062933,5.324364e+10,1.483216e+06,2.535412e+09,2.535412e+09,7.062933e+04,7.062933e+04
8,1,Arménie,2531,Pommes de Terre,Végétal,2013,225.0,16.0,82.0,45.10,...,8.910161e+10,2.108014e+06,664.937388,1.573145,4.468379e+11,1.057153e+07,6.383399e+10,1.496109e+11,1.510219e+06,3.539575e+06
40,1,Arménie,2605,"Légumes, Autres",Végétal,2013,13.0,NaN,143.0,243.22,...,1.553845e+11,7.236789e+06,214.619496,0.999557,1.639693e+11,7.636612e+06,5.794726e+09,2.790053e+09,2.698803e+05,1.299423e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15305,351,Chine,2736,Abats Comestible,Animal,2013,50.0,89.0,11.0,3.56,...,5.687918e+12,8.997252e+08,1128.107498,17.844610,5.843597e+12,9.243508e+08,NaN,5.640537e+10,NaN,8.922305e+06
15313,351,Chine,2763,Poissons Pelagiques,Animal,2013,9575.0,40.0,1.0,0.39,...,5.170835e+11,6.722085e+07,947.039295,12.311511,9.622866e+12,1.250973e+09,NaN,9.067901e+12,NaN,1.178827e+09
15314,351,Chine,2764,"Poissons Marins, Autres",Animal,2013,60.0,0.0,3.0,1.44,...,1.551250e+12,2.533709e+08,762.285192,12.450658,1.598512e+12,2.610903e+08,NaN,4.573711e+10,NaN,7.470395e+06
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,4.121155e+14,7.482198e+09,3755.894405,6.819045,5.071359e+14,9.207348e+09,2.406026e+13,4.551017e+13,4.368280e+08,8.262637e+08
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,3.050792e+13,1.613300e+09,648.980490,3.431897,3.252496e+13,1.719964e+09,9.299890e+11,1.059136e+12,4.917908e+07,5.600856e+07

<h3> Détermination de la disponibilité alimentaire en terme de protéines pour chaque produit </h3>

In [239]:
Disponibilité_personnes["Disponibilité alimentaire en protéine (kg)"]= (Disponibilité_personnes["Pourcentage de protéines"]*(Disponibilité_personnes["Disponibilité alimentaire en quantité (kg/personne/an)"])*Disponibilité_personnes["Valeur"]*1000)*0.01
Disponibilité_personnes

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité (kg de protéines),Ratio énergie/poids (kcal/kg),Pourcentage de protéines,Disponibilité intérieure (Kcal),Disponibilité intérieure en protéine (kg),Pertes (Kcal),Aliments pour animaux (Kcal),Pertes en protéine (Kg),Aliments pour animaux en protéine (Kg),Disponibilité alimentaire en protéine (kg)
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,3.316318e+07,2860.368946,8.525240,1.584644e+12,4.722983e+07,9.153181e+10,2.660143e+11,2.728077e+06,7.928473e+06,3.314581e+07
1,1,Arménie,2513,Orge,Végétal,2013,137.0,26.0,0.0,0.00,...,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Arménie,2514,Maïs,Végétal,2013,96.0,NaN,0.0,0.03,...,1.086605e+04,NaN,inf,NaN,inf,NaN,NaN,inf,inf,inf
3,1,Arménie,2515,Seigle,Végétal,2013,1.0,NaN,1.0,0.12,...,2.173210e+04,inf,inf,inf,inf,NaN,inf,NaN,inf,inf
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,9.779445e+04,2173.210000,9.779445,1.303926e+10,5.867667e+05,0.000000e+00,8.692840e+09,0.000000e+00,3.911778e+05,1.077196e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15320,351,Chine,2781,Huiles de Poissons,Animal,2013,47.0,80.0,0.0,0.00,...,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15321,351,Chine,2782,Huiles de Foie de Poisso,Animal,2013,0.0,0.0,0.0,0.00,...,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,7.482198e+09,3755.894405,6.819045,5.071359e+14,9.207348e+09,2.406026e+13,4.551017e+13,4.368280e+08,8.262637e+08,7.481915e+09
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,1.613300e+09,648.980490,3.431897,3.252496e+13,1.719964e+09,9.299890e+11,1.059136e+12,4.917908e+07,5.600856e+07,1.613163e+09
15324,351,Chine,2899,Miscellanees,Végétal,2013,NaN,NaN,0.0,NaN,...,5.170835e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h3> Supression des valeurs NaN, inf et -inf et des valeurs nulles de la colonne disponibilité alimentaire en protéine (kg) </h3>

In [240]:
disponibilite_alimentaire_proteine_sans_NA = Disponibilité_personnes.replace([np.inf,-np.inf],np.nan).dropna(subset=['Disponibilité alimentaire en protéine (kg)'])
disponibilite_alimentaire_proteine_sans_NA_zero= disponibilite_alimentaire_proteine_sans_NA[(disponibilite_alimentaire_proteine_sans_NA['Disponibilité alimentaire en protéine (kg)'] >0) ]
disponibilite_alimentaire_proteine_sans_NA_zero

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité (kg de protéines),Ratio énergie/poids (kcal/kg),Pourcentage de protéines,Disponibilité intérieure (Kcal),Disponibilité intérieure en protéine (kg),Pertes (Kcal),Aliments pour animaux (Kcal),Pertes en protéine (Kg),Aliments pour animaux en protéine (Kg),Disponibilité alimentaire en protéine (kg)
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,3.316318e+07,2860.368946,8.525240,1.584644e+12,4.722983e+07,9.153181e+10,2.660143e+11,2.728077e+06,7.928473e+06,3.314581e+07
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,9.779445e+04,2173.210000,9.779445,1.303926e+10,5.867667e+05,0.000000e+00,8.692840e+09,0.000000e+00,3.911778e+05,1.077196e+05
7,1,Arménie,2520,"Céréales, Autres",Végétal,2013,1.0,12.0,14.0,1.96,...,4.237760e+05,2535.411667,7.062933,5.324364e+10,1.483216e+06,2.535412e+09,2.535412e+09,7.062933e+04,7.062933e+04,4.121165e+05
8,1,Arménie,2531,Pommes de Terre,Végétal,2013,225.0,16.0,82.0,45.10,...,2.108014e+06,664.937388,1.573145,4.468379e+11,1.057153e+07,6.383399e+10,1.496109e+11,1.510219e+06,3.539575e+06,2.112146e+06
17,1,Arménie,2551,Noix,Végétal,2013,NaN,NaN,18.0,2.15,...,4.563741e+05,3259.815000,7.606235,1.955889e+10,4.563741e+05,0.000000e+00,NaN,0.000000e+00,NaN,4.868409e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15317,351,Chine,2767,"Mollusques, Autres",Animal,2013,NaN,0.0,4.0,8.85,...,2.895667e+08,164.978370,2.309697,2.068334e+12,2.895667e+08,NaN,NaN,NaN,NaN,2.895784e+08
15318,351,Chine,2769,Animaux Aquatiques Autre,Animal,2013,NaN,0.0,1.0,0.67,...,3.619584e+07,542.584948,3.798095,5.170835e+11,3.619584e+07,NaN,NaN,NaN,NaN,3.605026e+07
15319,351,Chine,2775,Plantes Aquatiques,Animal,2013,NaN,20.0,9.0,9.24,...,3.567876e+08,355.628236,2.726483,4.660864e+12,3.573329e+08,NaN,NaN,NaN,NaN,3.568967e+08
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,7.482198e+09,3755.894405,6.819045,5.071359e+14,9.207348e+09,2.406026e+13,4.551017e+13,4.368280e+08,8.262637e+08,7.481915e+09
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,1.613300e+09,648.980490,3.431897,3.252496e+13,1.719964e+09,9.299890e+11,1.059136e+12,4.917908e+07,5.600856e+07,1.613163e+09

<h3> Détermination de la disponibilité alimentaire végétale mondiale en terme de protéines  </h3>

In [241]:
disponibilité_alimentaire_vegetaux_proteine_mondiale= disponibilite_alimentaire_proteine_sans_NA_zero["Disponibilité alimentaire en protéine (kg)"].loc[(disponibilite_alimentaire_proteine_sans_NA_zero["Type de produit"]=='Végétal')].sum()
print("Concernant les produits végétaux, la disponibilité alimentaire mondiale en protéine est de " + str(disponibilité_alimentaire_vegetaux_proteine_mondiale)+" kg")

Concernant les produits végétaux, la disponibilité alimentaire mondiale en protéine est de 125098986564.2459 kg

<h3> Détermination de disponibilité alimentaire en produits végétaux, la nourriture végétales destinée aux animaux et les pertes mondiale en protéine </h3>

In [242]:
disponibilite_pertes_aliment_animaux_proteine_vegetaux_mondiale= disponibilité_alimentaire_vegetaux_proteine_mondiale + pertes_proteine_sans_NA_zero["Pertes en protéine (Kg)"].loc[(pertes_proteine_sans_NA_zero["Type de produit"]=='Végétal')].sum() + aliment_animaux_proteine_sans_NA_zero["Aliments pour animaux en protéine (Kg)"].loc[(aliment_animaux_proteine_sans_NA_zero["Type de produit"]=='Végétal')].sum() 
print("Concernant les produits végétaux, la somme de la disponibilité alimentaire, des pertes et des aliments pour animaux en terme de protéine est de " + str(disponibilite_pertes_aliment_animaux_proteine_vegetaux_mondiale) + " Kg")

Concernant les produits végétaux, la somme de la disponibilité alimentaire, des pertes et des aliments pour animaux en terme de protéine est de 203485557117.44025 Kg

<h3> Détermination du nombre d'humain nourri avec la disponibilité alimentaire en protéines mondiale de produits végétaux, la nourriture végétale destinée aux animaux et les pertes mondiale en protéines </h3>

In [243]:
Personnes_nourris_disponibilité_pertes_animaux_proteine_vegetal= disponibilite_pertes_aliment_animaux_proteine_vegetaux_mondiale / (0.9*0.001*65*365)
print(str(Personnes_nourris_disponibilité_pertes_animaux_proteine_vegetal) + " personnes pourraient être nourris avec la disponibilité alimentaire mondiale en protéine de produit végétaux, la nourriture végétales destinée aux animaux et les pertes mondiale en protéine")

9529823539.044151 personnes pourraient être nourris avec la disponibilité alimentaire mondiale en protéine de produit végétaux, la nourriture végétales destinée aux animaux et les pertes mondiale en protéine

<h3> Détermination du pourcentage d'humains nourris avac la disponibilité alimentaire mondiale en kcal</h3>

In [244]:
pourcentage_population_disponibilite_pertes_animaux_proteines=Personnes_nourris_disponibilité_pertes_animaux_proteine_vegetal / nb_totalHumainsMondiale *100
print("Le pourcentage d'humain nourris avec la disponibilité alimentaire mondiale en protéine de produit végétaux, la nourriture végétale destinée aux animaux et les pertes mondiale en protéine est de " +str(pourcentage_population_disponibilite_pertes_animaux_proteines)+ " %")

Le pourcentage d'humain nourris avec la disponibilité alimentaire mondiale en protéine de produit végétaux, la nourriture végétale destinée aux animaux et les pertes mondiale en protéine est de 136.19236175424942 %

<center> <h2> Question 9 <h2/> </center>

Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale

<h3> Détermination de disponibilité alimentaire mondiale en Kcal </h3>

In [245]:
disponibilite_alimentaire_kcal_mondiale = disponibilite_alimentaire_kcal_sans_NA_zero["Disponibilité (kcal)"].sum()
print("La disponibilité alimentaire mondiale est de " + str(disponibilite_alimentaire_kcal_mondiale) + " Kcal")

La disponibilité alimentaire mondiale est de 7365411912435000.0 Kcal

<h3> Détermination du pourcentage d'humain nourris avac la disponibilité intérieure mondiale en kcal </h3>

In [246]:
Personnes_nourris_disponibilite_alimentaire_kcal= disponibilite_alimentaire_kcal_mondiale / (Besoins_calories_jour*365)
print(str(Personnes_nourris_disponibilite_alimentaire_kcal) + " personnes pourraient être nourris avec la disponibilité alimentaire mondiale en kcal")

8071684287.6 personnes pourraient être nourris avec la disponibilité alimentaire mondiale en kcal

<h3> Détermination du pourcentage d'humain nourris avac la disponibilité alimentaire mondiale en Kcal </h3>

In [247]:
pourcentage_population_disponibilite_alimentaire_calories=Personnes_nourris_disponibilite_alimentaire_kcal / nb_totalHumainsMondiale *100
print("Le pourcentage d'humain nourris avec la disponibilité intérieure mondiale en Kcal de produit végétaux, la nourriture destinées aux animaux et les pertes est de " +str(pourcentage_population_disponibilite_alimentaire_calories)+ " %")

Le pourcentage d'humain nourris avec la disponibilité intérieure mondiale en Kcal de produit végétaux, la nourriture destinées aux animaux et les pertes est de 115.35384070429191 %

<h3> Détermination de la disponibilité alimentaire mondiale en termes de protéine (en Kg) </h3>

In [248]:
disponibilite_alimentaire_proteine_mondiale= disponibilite_alimentaire_proteine_sans_NA_zero["Disponibilité alimentaire en protéine (kg)"].sum()
print("La disponibilité alimentaire mondiale en protéine est de " + str(disponibilite_alimentaire_proteine_mondiale)+" kg")

La disponibilité alimentaire mondiale en protéine est de 207156638547.40222 kg

<h3> Détermination du nombre d'humain nourris avec la disponibilité alimentaire en protéine mondiale </h3>

In [249]:
Personnes_nourris_disponibilité_alimentaire_proteine= disponibilite_alimentaire_proteine_mondiale / (0.9*0.001*65*365)
print(str(Personnes_nourris_disponibilité_alimentaire_proteine) + " personnes pourraient être nourris avec la disponibilité intérieure mondiale en protéine de produit végétaux, la nourriture végétales destinée aux animaux et les pertes mondiale en protéine")

9701751014.981955 personnes pourraient être nourris avec la disponibilité intérieure mondiale en protéine de produit végétaux, la nourriture végétales destinée aux animaux et les pertes mondiale en protéine

<h3> Détermination du pourcentage d'humain nourris avac la disponibilité alimentaire mondiale en protéine  </h3>

In [250]:
pourcentage_population_disponibilite_alimentaire_proteines=Personnes_nourris_disponibilité_alimentaire_proteine / nb_totalHumainsMondiale *100
print("Le pourcentage d'humain nourris avec la disponibilité alimentaire mondiale en protéine est de " +str(pourcentage_population_disponibilite_alimentaire_proteines)+ " %")

Le pourcentage d'humain nourris avec la disponibilité alimentaire mondiale en protéine est de 138.64940714470006 %

<center> <h2> Question 10 <h2/> </center>

 A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

<h3> Importation du fichier fr_sousalimentation.csv et transformation en DataFrame </h3>

In [251]:
import pandas as pd
filepath='file:///D:/Lena/Desktop/OpenClassroom/fr_sousalimentation.csv'
df_sousalimentation=pd.read_csv(filepath)

<h3> Visualisation de la forme du tableau et des différentes catégories</h3>

In [252]:
df_sousalimentation.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.6,F,Estimation FAO,NaN
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,10.2,F,Estimation FAO,NaN
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,10.6,F,Estimation FAO,NaN

<h3> Visualisation des données par l'affichage de tous les pays présent dans le fichier </h3>

In [253]:
df_sousalimentation['Zone'].unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Andorre', 'Angola', 'Antigua-et-Barbuda', 'Arabie saoudite',
       'Argentine', 'Arménie', 'Australie', 'Autriche', 'Azerbaïdjan',
       'Bahamas', 'Bahreïn', 'Bangladesh', 'Barbade', 'Bélarus',
       'Belgique', 'Belize', 'Bénin', 'Bermudes', 'Bhoutan',
       'Bolivie (État plurinational de)', 'Bosnie-Herzégovine',
       'Botswana', 'Brésil', 'Brunéi Darussalam', 'Bulgarie',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodge', 'Cameroun',
       'Canada', 'Chili', 'Chine', 'Chine - RAS de Hong-Kong',
       'Chine - RAS de Macao', 'Chine, continentale',
       'Chine, Taiwan Province de', 'Chypre', 'Colombie', 'Comores',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatie', 'Cuba',
       'Danemark', 'Djibouti', 'Dominique', 'Égypte', 'El Salvador',
       'Émirats arabes unis', 'Équateur', 'Érythrée', 'Espagne',
       'Estonie', 'Eswatini', "États-Unis d'Amérique", 'Éthiopie',
       'Fédération de Russie', 'Fidji', 'Finlande', 'France', 'Gabon',
       'Gambie', 'Géorgie', 'Ghana', 'Grèce', 'Grenade', 'Groenland',
       'Guatemala', 'Guinée', 'Guinée équatoriale', 'Guinée-Bissau',
       'Guyana', 'Haïti', 'Honduras', 'Hongrie', 'Îles Cook',
       'Îles Marshall', 'Îles Salomon', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Islande',
       'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan',
       'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït', 'Lesotho',
       'Lettonie', 'Liban', 'Libéria', 'Libye', 'Lituanie', 'Luxembourg',
       'Macédoine du Nord', 'Madagascar', 'Malaisie', 'Malawi',
       'Maldives', 'Mali', 'Malte', 'Maroc', 'Maurice', 'Mauritanie',
       'Mexique', 'Micronésie (États fédérés de)', 'Mongolie',
       'Monténégro', 'Mozambique', 'Myanmar', 'Namibie', 'Nauru', 'Népal',
       'Nicaragua', 'Niger', 'Nigéria', 'Nioué', 'Norvège',
       'Nouvelle-Calédonie', 'Nouvelle-Zélande', 'Oman', 'Ouganda',
       'Ouzbékistan', 'Pakistan', 'Palaos', 'Palestine', 'Panama',
       'Papouasie-Nouvelle-Guinée', 'Paraguay', 'Pays-Bas', 'Pérou',
       'Philippines', 'Pologne', 'Polynésie française', 'Porto Rico',
       'Portugal', 'Qatar', 'République arabe syrienne',
       'République centrafricaine', 'République de Corée',
       'République de Moldova', 'République démocratique du Congo',
       'République démocratique populaire lao', 'République dominicaine',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Roumanie', 'Royaume-Uni', 'Rwanda',
       'Sainte-Lucie', 'Saint-Kitts-et-Nevis',
       'Saint-Vincent-et-les Grenadines', 'Samoa', 'Samoa américaines',
       'Sao Tomé-et-Principe', 'Sénégal', 'Serbie', 'Seychelles',
       'Sierra Leone', 'Singapour', 'Slovaquie', 'Slovénie', 'Somalie',
       'Soudan', 'Soudan du Sud', 'Sri Lanka', 'Suède', 'Suisse',
       'Suriname', 'Tadjikistan', 'Tchad', 'Tchéquie (la)', 'Thaïlande',
       'Timor-Leste', 'Togo', 'Tokélaou', 'Tonga', 'Trinité-et-Tobago',
       'Tunisie', 'Turkménistan', 'Turquie', 'Tuvalu', 'Ukraine',
       'Uruguay', 'Vanuatu', 'Venezuela (République bolivarienne du)',
       'Viet Nam', 'Yémen', 'Zambie', 'Zimbabwe'], dtype=object)

<h3> Suppresion des régions de chines qui sont comptées en double <h3/>

In [254]:
df_sousalimentationpopulation=df_sousalimentation[~((df_sousalimentation["Zone"]=="Chine - RAS de Hong-Kong")|(df_sousalimentation["Zone"]=="Chine - RAS de Macao")|(df_sousalimentation["Zone"]=="Chine, continentale")|(df_sousalimentation["Zone"]=="Chine, Taiwan Province de"))]

<h3> Visualisation des différentes valeurs </h3>

In [255]:
df_sousalimentationpopulation['Valeur'].unique()

array(['7.9', '8.8', '9.6', '10.2', '10.6', '2.6', '2.8', '3.2', '3.4',
       '3.5', '0.2', '1.7', '1.6', nan, '8.1', '7.6', '7.4', '1.8', '2',
       '2.3', '1.5', '2.1', '0.1', '26.1', '25.8', '25.3', '24.7', '24.2',
       '<0.1', '1', '1.1', '2.2', '1.9', '0.5', '0.6', '0.4', '0.3',
       '3.6', '3.7', '3.8', '2.7', '2.4', '137.7', '130', '125', '123.1',
       '122.4', '4.1', '3.1', '4.7', '4.6', '3.9', '4', '4.2', '4.4',
       '0.7', '1.3', '23.8', '22.7', '21.9', '21.6', '2.5', '5.2', '5.3',
       '5.4', '1.2', '216.3', '210.4', '202.7', '196.9', '194.4', '22.6',
       '22.3', '22.5', '22', '9.1', '10.7', '11.1', '0.9', '10', '10.5',
       '11.8', '13.3', '14.6', '8.2', '11.4', '0.8', '3.3', '1.4', '5',
       '4.9', '4.8', '7', '7.3', '8.3', '6.6', '6.1', '5.8', '5.6', '5.7',
       '2.9', '13.4', '15.2', '17.4', '21.4', '25.6', '12.6', '13.6',
       '15.1', '16.5', '17.6', '38.1', '38.9', '39.3', '39.7', '40', '3',
       '14', '13.9', '10.9', '11.2', '11.7', '12.2', '16.4', '16.7', '17',
       '17.2', '4.3', '4.5', '7.8', '5.1', '5.5', '6.8', '10.4', '9.7',
       '9.2', '8.9', '7.2', '9.3', '11', '8', '8.5'], dtype=object)

<h3> Remplacement des chiffres négatifs qui cause des problèmes par la valeur 0.01 </h3>

In [256]:
df_sousalimentationpopulation['Valeur']=df_sousalimentationpopulation['Valeur'].str.replace('<0.1','0.01')
df_sousalimentationpopulation['Valeur'].unique()

<ipython-input-256-e7180161e790>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sousalimentationpopulation['Valeur']=df_sousalimentationpopulation['Valeur'].str.replace('<0.1','0.01')

array(['7.9', '8.8', '9.6', '10.2', '10.6', '2.6', '2.8', '3.2', '3.4',
       '3.5', '0.2', '1.7', '1.6', nan, '8.1', '7.6', '7.4', '1.8', '2',
       '2.3', '1.5', '2.1', '0.1', '26.1', '25.8', '25.3', '24.7', '24.2',
       '0.01', '1', '1.1', '2.2', '1.9', '0.5', '0.6', '0.4', '0.3',
       '3.6', '3.7', '3.8', '2.7', '2.4', '137.7', '130', '125', '123.1',
       '122.4', '4.1', '3.1', '4.7', '4.6', '3.9', '4', '4.2', '4.4',
       '0.7', '1.3', '23.8', '22.7', '21.9', '21.6', '2.5', '5.2', '5.3',
       '5.4', '1.2', '216.3', '210.4', '202.7', '196.9', '194.4', '22.6',
       '22.3', '22.5', '22', '9.1', '10.7', '11.1', '0.9', '10', '10.5',
       '11.8', '13.3', '14.6', '8.2', '11.4', '0.8', '3.3', '1.4', '5',
       '4.9', '4.8', '7', '7.3', '8.3', '6.6', '6.1', '5.8', '5.6', '5.7',
       '2.9', '13.4', '15.2', '17.4', '21.4', '25.6', '12.6', '13.6',
       '15.1', '16.5', '17.6', '38.1', '38.9', '39.3', '39.7', '40', '3',
       '14', '13.9', '10.9', '11.2', '11.7', '12.2', '16.4', '16.7', '17',
       '17.2', '4.3', '4.5', '7.8', '5.1', '5.5', '6.8', '10.4', '9.7',
       '9.2', '8.9', '7.2', '9.3', '11', '8', '8.5'], dtype=object)

<h3> Supression des valeurs NaN </h3>

In [257]:
df_sousalimentationpopulation_SANS_NA=df_sousalimentationpopulation.dropna(subset=['Valeur'])

<h3> Visualisation des différentes années </h3>

In [258]:
df_sousalimentationpopulation_SANS_NA['Année'].unique()

array(['2012-2014', '2013-2015', '2014-2016', '2015-2017', '2016-2018'],
      dtype=object)

<h3> Regroupement du nombre de sous-alimentation par Année correspondant </h3>

In [259]:
sousalimentation_2012_2014 = df_sousalimentationpopulation_SANS_NA.loc[(df_sousalimentationpopulation_SANS_NA["Année"] == "2012-2014")]
sousalimentation_2013_2015 = df_sousalimentationpopulation_SANS_NA.loc[(df_sousalimentationpopulation_SANS_NA["Année"] == "2013-2015")]
sousalimentation_2014_2016 = df_sousalimentationpopulation_SANS_NA.loc[(df_sousalimentationpopulation_SANS_NA["Année"] == "2014-2016")]
sousalimentation_2015_2017 = df_sousalimentationpopulation_SANS_NA.loc[(df_sousalimentationpopulation_SANS_NA["Année"] == "2015-2017")]
sousalimentation_2016_2018 = df_sousalimentationpopulation_SANS_NA.loc[(df_sousalimentationpopulation_SANS_NA["Année"] == "2016-2018")]

<h3> Transformation des valeurs object en numérique </h3>

In [260]:
sousalimentation_valeur_2012_2014 = sousalimentation_2012_2014[['Valeur']].apply(pd.to_numeric)
sousalimentation_valeur_2013_2015 = sousalimentation_2013_2015[['Valeur']].apply(pd.to_numeric)
sousalimentation_valeur_2014_2016 = sousalimentation_2014_2016[['Valeur']].apply(pd.to_numeric)
sousalimentation_valeur_2015_2017 = sousalimentation_2015_2017[['Valeur']].apply(pd.to_numeric)
sousalimentation_valeur_2016_2018 = sousalimentation_2016_2018[['Valeur']].apply(pd.to_numeric)

<h3> Détermination du nombre de personnes en sous-alimentation dans le monde </h3>

In [261]:
Population_mondiale_sousalimentation_2012_2014 = sousalimentation_valeur_2012_2014.sum()*1000000
Population_mondiale_sousalimentation_2013_2015 = sousalimentation_valeur_2013_2015.sum()*1000000
Population_mondiale_sousalimentation_2014_2016 = sousalimentation_valeur_2014_2016.sum()*1000000
Population_mondiale_sousalimentation_2015_2017 = sousalimentation_valeur_2015_2017.sum()*1000000
Population_mondiale_sousalimentation_2016_2018 = sousalimentation_valeur_2016_2018.sum()*1000000

<h3> Détermination du nombre moyen de personnes en sous-nutrition des année 2012 à 2018 </h3>

In [262]:
import numpy as np
nombre_personne_sousalimentation = (int(Population_mondiale_sousalimentation_2012_2014),int(Population_mondiale_sousalimentation_2013_2015),int(Population_mondiale_sousalimentation_2014_2016),int(Population_mondiale_sousalimentation_2015_2017),int(Population_mondiale_sousalimentation_2016_2018))
moyenne_nombre_personne_sousalimentation=np.mean(nombre_personne_sousalimentation)
moyenne_nombre_personne_sousalimentation
print("En moyenne entre les années 2012 et 2018, "+  str(moyenne_nombre_personne_sousalimentation) + " personnes ont été considérée comme étant en sous-nutrition")

En moyenne entre les années 2012 et 2018, 741179999.8 personnes ont été considérée comme étant en sous-nutrition

<h3> Détermination du pourcentage moyen d'humain en sous nutrition dans le monde entre 2012 et 2018 </h3>

In [263]:
pourcentage_population_sousalimentation=moyenne_nombre_personne_sousalimentation / nb_totalHumainsMondiale *100
print("Le pourcentage d'humain dans le monde considérée comme étant en sous-nutrition est de " +str(pourcentage_population_sousalimentation)+ " %")

Le pourcentage d'humain dans le monde considérée comme étant en sous-nutrition est de 10.592331982245788 %

<center> <h2> Question 11 <h2/> </center>

Établissez la liste des produits (ainsi que leur code) considéré comme des céréales selon la FAO.

Repérez dans vos données les informations concernant les céréales (par exemple en créant une colonne de type booléen nommée "is_cereal").

En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?

<h3> Importation du fichier fr_céréales.csv et transformation en DataFrame </h3>

In [264]:
import pandas as pd
filepath='file:///D:/Lena/Desktop/OpenClassroom/fr_c%C3%A9r%C3%A9ales.csv'
df_cereale=pd.read_csv(filepath)

<h3> Visualisation de la forme du tableau et des différentes catégories</h3>

In [265]:
df_cereale.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,342,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2513,Orge,2013,2013,Milliers de tonnes,514,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2514,Maïs,2013,2013,Milliers de tonnes,312,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2517,Millet,2013,2013,Milliers de tonnes,13,S,Données standardisées

<h3> Visualisation des données par l'affichage de tous les produits considérés en étant des céréales par la FAO </h3>

In [266]:
df_cereale['Produit'].unique()

array(['Blé', 'Riz (Eq Blanchi)', 'Orge', 'Maïs', 'Millet', 'Seigle',
       'Avoine', 'Sorgho', 'Céréales, Autres'], dtype=object)

<h3> Visualisation des données par l'affichage des codes produits considérés en étant des céréales par la FAO </h3>

In [267]:
df_cereale['Code Produit'].unique()

array([2511, 2805, 2513, 2514, 2517, 2515, 2516, 2518, 2520], dtype=int64)

<h3> Transformation des codes produits en liste </h3>

In [268]:
code=df_cereale['Code Produit'].unique()
liste_code=code.tolist()
liste_code

[2511, 2805, 2513, 2514, 2517, 2515, 2516, 2518, 2520]

<h3> Transformation des codes produits en series </h3>

In [269]:
code_cereales = pd.Series(list(liste_code))
code_cereales

0    2511
1    2805
2    2513
3    2514
4    2517
5    2515
6    2516
7    2518
8    2520
dtype: int64

<h3> Création de la colonne booléen is_cereales considéré comme des céréales selon la FAO </h3>

In [270]:
is_cereales = Disponibilité_personnes["Code Produit"].isin(code_cereales)
Disponibilité_personnes['is_céréales'] = is_cereales
Disponibilité_personnes

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Ratio énergie/poids (kcal/kg),Pourcentage de protéines,Disponibilité intérieure (Kcal),Disponibilité intérieure en protéine (kg),Pertes (Kcal),Aliments pour animaux (Kcal),Pertes en protéine (Kg),Aliments pour animaux en protéine (Kg),Disponibilité alimentaire en protéine (kg),is_céréales
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,2860.368946,8.525240,1.584644e+12,4.722983e+07,9.153181e+10,2.660143e+11,2.728077e+06,7.928473e+06,3.314581e+07,True
1,1,Arménie,2513,Orge,Végétal,2013,137.0,26.0,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,1,Arménie,2514,Maïs,Végétal,2013,96.0,NaN,0.0,0.03,...,NaN,inf,NaN,inf,NaN,NaN,inf,inf,inf,True
3,1,Arménie,2515,Seigle,Végétal,2013,1.0,NaN,1.0,0.12,...,inf,inf,inf,inf,NaN,inf,NaN,inf,inf,True
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,2173.210000,9.779445,1.303926e+10,5.867667e+05,0.000000e+00,8.692840e+09,0.000000e+00,3.911778e+05,1.077196e+05,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15320,351,Chine,2781,Huiles de Poissons,Animal,2013,47.0,80.0,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
15321,351,Chine,2782,Huiles de Foie de Poisso,Animal,2013,0.0,0.0,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,3755.894405,6.819045,5.071359e+14,9.207348e+09,2.406026e+13,4.551017e+13,4.368280e+08,8.262637e+08,7.481915e+09,True
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,648.980490,3.431897,3.252496e+13,1.719964e+09,9.299890e+11,1.059136e+12,4.917908e+07,5.600856e+07,1.613163e+09,False
15324,351,Chine,2899,Miscellanees,Végétal,2013,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

<h3> Supression des valeurs NaN, inf et -inf et des valeurs nulles de la colonne nourritures (en tonnes)

In [271]:
Cereales_alimentation_humain=Disponibilité_personnes['Nourriture']
Cereales_alimentation_humain_sans_NA = Disponibilité_personnes.replace([np.inf,-np.inf],np.nan).dropna(subset=['Nourriture'])
Cereales_alimentation_humain_sans_NA_zero= Cereales_alimentation_humain_sans_NA[(Cereales_alimentation_humain_sans_NA['Nourriture'] >0) ]
Cereales_alimentation_humain_sans_NA_zero

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Ratio énergie/poids (kcal/kg),Pourcentage de protéines,Disponibilité intérieure (Kcal),Disponibilité intérieure en protéine (kg),Pertes (Kcal),Aliments pour animaux (Kcal),Pertes en protéine (Kg),Aliments pour animaux en protéine (Kg),Disponibilité alimentaire en protéine (kg),is_céréales
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,2860.368946,8.525240,1.584644e+12,4.722983e+07,9.153181e+10,2.660143e+11,2.728077e+06,7.928473e+06,3.314581e+07,True
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,2173.210000,9.779445,1.303926e+10,5.867667e+05,0.000000e+00,8.692840e+09,0.000000e+00,3.911778e+05,1.077196e+05,True
7,1,Arménie,2520,"Céréales, Autres",Végétal,2013,1.0,12.0,14.0,1.96,...,2535.411667,7.062933,5.324364e+10,1.483216e+06,2.535412e+09,2.535412e+09,7.062933e+04,7.062933e+04,4.121165e+05,True
8,1,Arménie,2531,Pommes de Terre,Végétal,2013,225.0,16.0,82.0,45.10,...,664.937388,1.573145,4.468379e+11,1.057153e+07,6.383399e+10,1.496109e+11,1.510219e+06,3.539575e+06,2.112146e+06,False
12,1,Arménie,2542,Sucre Eq Brut,Végétal,2013,NaN,0.0,302.0,33.03,...,3348.517449,NaN,3.114121e+11,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15317,351,Chine,2767,"Mollusques, Autres",Animal,2013,NaN,0.0,4.0,8.85,...,164.978370,2.309697,2.068334e+12,2.895667e+08,NaN,NaN,NaN,NaN,2.895784e+08,False
15318,351,Chine,2769,Animaux Aquatiques Autre,Animal,2013,NaN,0.0,1.0,0.67,...,542.584948,3.798095,5.170835e+11,3.619584e+07,NaN,NaN,NaN,NaN,3.605026e+07,False
15319,351,Chine,2775,Plantes Aquatiques,Animal,2013,NaN,20.0,9.0,9.24,...,355.628236,2.726483,4.660864e+12,3.573329e+08,NaN,NaN,NaN,NaN,3.568967e+08,False
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,3755.894405,6.819045,5.071359e+14,9.207348e+09,2.406026e+13,4.551017e+13,4.368280e+08,8.262637e+08,7.481915e+09,True
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,648.980490,3.431897,3.252496e+13,1.719964e+09,9.299890e+11,1.059136e+12,4.917908e+07,5.600856e+07,1.613163e+09,False

<h3> Détermination de la quantité de céréales destinées à l'alimentation humaine </h3>

In [272]:
Cereales_alimentation_humain_poids_totale=Cereales_alimentation_humain_sans_NA_zero['Nourriture'].loc[(Cereales_alimentation_humain_sans_NA_zero['is_céréales']==True)].sum()
print("La quantité de céréales destinées à l'alimentation humaines mondiales est de "+ str(Cereales_alimentation_humain_poids_totale) + " tonnes")

La quantité de céréales destinées à l'alimentation humaines mondiales est de 1029258.0 tonnes

<h3> Supression des valeurs NaN, inf et -inf et des valeurs nulles de la colonne aliments pour animaux (en tonnes)

In [273]:
Cereales_alimentation_aminaux=Disponibilité_personnes['Aliments pour animaux']
Cereales_alimentation_animaux_sans_NA = Disponibilité_personnes.replace([np.inf,-np.inf],np.nan).dropna(subset=['Aliments pour animaux'])
Cereales_alimentation_animaux_sans_NA_zero= Cereales_alimentation_animaux_sans_NA[(Cereales_alimentation_animaux_sans_NA['Aliments pour animaux'] >0) ]
Cereales_alimentation_animaux_sans_NA_zero

,Code zone,Zone,Code Produit,Produit,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Ratio énergie/poids (kcal/kg),Pourcentage de protéines,Disponibilité intérieure (Kcal),Disponibilité intérieure en protéine (kg),Pertes (Kcal),Aliments pour animaux (Kcal),Pertes en protéine (Kg),Aliments pour animaux en protéine (Kg),Disponibilité alimentaire en protéine (kg),is_céréales
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,2860.368946,8.525240,1.584644e+12,4.722983e+07,9.153181e+10,2.660143e+11,2.728077e+06,7.928473e+06,3.314581e+07,True
1,1,Arménie,2513,Orge,Végétal,2013,137.0,26.0,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,1,Arménie,2514,Maïs,Végétal,2013,96.0,NaN,0.0,0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,1,Arménie,2515,Seigle,Végétal,2013,1.0,NaN,1.0,0.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,2173.210000,9.779445,1.303926e+10,5.867667e+05,0.000000e+00,8.692840e+09,0.000000e+00,3.911778e+05,1.077196e+05,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15313,351,Chine,2763,Poissons Pelagiques,Animal,2013,9575.0,40.0,1.0,0.39,...,947.039295,12.311511,9.622866e+12,1.250973e+09,NaN,9.067901e+12,NaN,1.178827e+09,6.802111e+07,False
15314,351,Chine,2764,"Poissons Marins, Autres",Animal,2013,60.0,0.0,3.0,1.44,...,762.285192,12.450658,1.598512e+12,2.610903e+08,NaN,4.573711e+10,NaN,7.470395e+06,2.539935e+08,False
15320,351,Chine,2781,Huiles de Poissons,Animal,2013,47.0,80.0,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
15322,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,3755.894405,6.819045,5.071359e+14,9.207348e+09,2.406026e+13,4.551017e+13,4.368280e+08,8.262637e+08,7.481915e+09,True
15323,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,648.980490,3.431897,3.252496e+13,1.719964e+09,9.299890e+11,1.059136e+12,4.917908e+07,5.600856e+07,1.613163e+09,False

<h3> Détermination de la quantité de céréales destinées à l'alimentation animales

In [274]:
Cereales_alimentation_animaux_poids_totale=Cereales_alimentation_animaux_sans_NA_zero['Aliments pour animaux'].loc[(Cereales_alimentation_animaux_sans_NA_zero['is_céréales']==True)].sum()
print("La quantité de céréales destinées à l'alimentation animales mondiales est de "+ str(Cereales_alimentation_animaux_poids_totale) + " tonnes")

La quantité de céréales destinées à l'alimentation animales mondiales est de 873536.0 tonnes

<h3> Détermination de la quantité de céréales destinées à l'alimentation humaine et animale

In [275]:
Cereales_alimentation_animaux_humain_totale=Cereales_alimentation_humain_poids_totale+Cereales_alimentation_animaux_poids_totale
print("La quantité de céréales destinées à l'alimentation animales et humaine mondiales est de "+ str(Cereales_alimentation_animaux_humain_totale) + " tonnes")

La quantité de céréales destinées à l'alimentation animales et humaine mondiales est de 1902794.0 tonnes

<h3> Détermination de la proportion en termes de poids qui est destinée à l'alimentation animale

In [276]:
Proportion_animaux_humain= Cereales_alimentation_animaux_poids_totale/Cereales_alimentation_animaux_humain_totale*100
print("La prportion en termes de poids qui est destinée à l'alimentaion animale est de " + str(Proportion_animaux_humain)+ " %")

La prportion en termes de poids qui est destinée à l'alimentaion animale est de 45.90806992244037 %

<center> <h2> Question 12 <h2/> </center>

Sélectionnez parmi les données des bilans alimentaires les informations relatives aux pays dans lesquels la FAO recense des personnes en sous-nutrition.

Repérez les 15 produits les plus exportés par ce groupe de pays.

Parmi les données des bilans alimentaires au niveau mondial, sélectionnez les 200 plus grandes importations de ces produits (1 importation = une quantité d'un produit donné importée par un pays donné)

Groupez ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15 produits. Ensuite, calculez pour chaque produit les 2 quantités suivantes :

le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure.
le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)

Donnez les 3 produits qui on t la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer)

<h3> Sélection des informations importantes du dataframe df_sousalimentation

In [277]:
df_sous_alimentation_pays=sousalimentation_2012_2014[['Zone','Produit','Valeur']]
df_sous_alimentation_pays

,Zone,Produit,Valeur
0,Afghanistan,Nombre de personnes sous-alimentées (millions)...,7.9
5,Afrique du Sud,Nombre de personnes sous-alimentées (millions)...,2.6
10,Albanie,Nombre de personnes sous-alimentées (millions)...,0.2
15,Algérie,Nombre de personnes sous-alimentées (millions)...,1.7
30,Angola,Nombre de personnes sous-alimentées (millions)...,8.1
...,...,...,...
995,Venezuela (République bolivarienne du),Nombre de personnes sous-alimentées (millions)...,1.9
1000,Viet Nam,Nombre de personnes sous-alimentées (millions)...,10.4
1005,Yémen,Nombre de personnes sous-alimentées (millions)...,7.2
1010,Zambie,Nombre de personnes sous-alimentées (millions)...,7
1015,Zimbabwe,Nombre de personnes sous-alimentées (millions)...,6.6

<h3> Merge des dataframes sous_alimentation_pays et disponibilité_personnes afin de sélectionner les pays en sous-alimentation

In [278]:
disponibilite_sous_alimentation = Disponibilité_personnes.merge(df_sous_alimentation_pays,how='inner',on='Zone')
disponibilite_sous_alimentation.head()

,Code zone,Zone,Code Produit,Produit_x,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité intérieure (Kcal),Disponibilité intérieure en protéine (kg),Pertes (Kcal),Aliments pour animaux (Kcal),Pertes en protéine (Kg),Aliments pour animaux en protéine (Kg),Disponibilité alimentaire en protéine (kg),is_céréales,Produit_y,Valeur_y
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,1.584644e+12,4.722983e+07,9.153181e+10,2.660143e+11,2.728077e+06,7.928473e+06,3.314581e+07,True,Nombre de personnes sous-alimentées (millions)...,0.1
1,1,Arménie,2513,Orge,Végétal,2013,137.0,26.0,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Nombre de personnes sous-alimentées (millions)...,0.1
2,1,Arménie,2514,Maïs,Végétal,2013,96.0,NaN,0.0,0.03,...,NaN,inf,NaN,NaN,inf,inf,inf,True,Nombre de personnes sous-alimentées (millions)...,0.1
3,1,Arménie,2515,Seigle,Végétal,2013,1.0,NaN,1.0,0.12,...,inf,inf,NaN,inf,NaN,inf,inf,True,Nombre de personnes sous-alimentées (millions)...,0.1
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,1.303926e+10,5.867667e+05,0.000000e+00,8.692840e+09,0.000000e+00,3.911778e+05,1.077196e+05,True,Nombre de personnes sous-alimentées (millions)...,0.1

<h3> Supression des valeurs NaN, inf et -inf

In [279]:
disponibilite_sous_alimentation_NA=disponibilite_sous_alimentation.replace([np.inf,-np.inf],np.nan)
disponibilite_sous_alimentation_sans_NA=disponibilite_sous_alimentation_NA.fillna(0)

<h3> Regroupement des différentes lignes de produits et détermination de la somme des exportations dans les pays en sous-nutrition

In [280]:
exportation_sous_alimentation=disponibilite_sous_alimentation_sans_NA.groupby('Produit_x').agg({'Exportations - Quantité':'sum'})
exportation_sous_alimentation

                        Exportations - Quantité
Produit_x
Abats Comestible                          730.0
Agrumes, Autres                           523.0
Alcool, non Comestible                   2125.0
Aliments pour enfants                     186.0
Ananas                                   6433.0
...                                         ...
Viande de Suides                          967.0
Viande de Volailles                      2795.0
Viande, Autre                             197.0
Vin                                      2088.0
Épices, Autres                           1401.0

[98 rows x 1 columns]

<h3> Détermination des 15 produits les plus exportés par les pays en sous-nutrition

In [281]:
df_produit_plus_exportés_15= exportation_sous_alimentation.nlargest(15,'Exportations - Quantité')
df_produit_plus_exportés_15

                     Exportations - Quantité
Produit_x
Huile de Palme                       46336.0
Maïs                                 37906.0
Manioc                               35931.0
Riz (Eq Blanchi)                     33104.0
Sucre Eq Brut                        26160.0
Blé                                  25417.0
Légumes, Autres                      20167.0
Bananes                              18005.0
Fruits, Autres                       15389.0
Lait - Excl Beurre                   15060.0
Soja                                 14410.0
Poissons Pelagiques                  14185.0
Tomates                               8938.0
Pommes                                7958.0
Oranges, Mandarines                   7185.0

<h3> Récupération des index des 15 produit les plus exportés

In [282]:
produit_plus_exportés_15=df_produit_plus_exportés_15.index
produit_plus_exportés_15

Index(['Huile de Palme', 'Maïs', 'Manioc', 'Riz (Eq Blanchi)', 'Sucre Eq Brut',
       'Blé', 'Légumes, Autres', 'Bananes', 'Fruits, Autres',
       'Lait - Excl Beurre', 'Soja', 'Poissons Pelagiques', 'Tomates',
       'Pommes', 'Oranges, Mandarines'],
      dtype='object', name='Produit_x')

<h3> Transformation en liste

In [283]:
liste_produit_plus_exportés_15=produit_plus_exportés_15.tolist()
liste_produit_plus_exportés_15

['Huile de Palme',
 'Maïs',
 'Manioc',
 'Riz (Eq Blanchi)',
 'Sucre Eq Brut',
 'Blé',
 'Légumes, Autres',
 'Bananes',
 'Fruits, Autres',
 'Lait - Excl Beurre',
 'Soja',
 'Poissons Pelagiques',
 'Tomates',
 'Pommes',
 'Oranges, Mandarines']

<h3> Transformation en series

In [284]:
series_produit_plus_exportés_15=pd.Series(list(liste_produit_plus_exportés_15))
series_produit_plus_exportés_15

0          Huile de Palme
1                    Maïs
2                  Manioc
3        Riz (Eq Blanchi)
4           Sucre Eq Brut
5                     Blé
6         Légumes, Autres
7                 Bananes
8          Fruits, Autres
9      Lait - Excl Beurre
10                   Soja
11    Poissons Pelagiques
12                Tomates
13                 Pommes
14    Oranges, Mandarines
dtype: object

<h3> Création d'une colonne is_15_produit_exporte afin de selectionner les 15 produits les plus exportés

In [285]:
is_15_produit_exporte = disponibilite_sous_alimentation["Produit_x"].isin(series_produit_plus_exportés_15)
disponibilite_sous_alimentation['is_15_produit_exporte']=is_15_produit_exporte
disponibilite_sous_alimentation.head()

,Code zone,Zone,Code Produit,Produit_x,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité intérieure en protéine (kg),Pertes (Kcal),Aliments pour animaux (Kcal),Pertes en protéine (Kg),Aliments pour animaux en protéine (Kg),Disponibilité alimentaire en protéine (kg),is_céréales,Produit_y,Valeur_y,is_15_produit_exporte
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,4.722983e+07,9.153181e+10,2.660143e+11,2.728077e+06,7.928473e+06,3.314581e+07,True,Nombre de personnes sous-alimentées (millions)...,0.1,True
1,1,Arménie,2513,Orge,Végétal,2013,137.0,26.0,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,True,Nombre de personnes sous-alimentées (millions)...,0.1,False
2,1,Arménie,2514,Maïs,Végétal,2013,96.0,NaN,0.0,0.03,...,inf,NaN,NaN,inf,inf,inf,True,Nombre de personnes sous-alimentées (millions)...,0.1,True
3,1,Arménie,2515,Seigle,Végétal,2013,1.0,NaN,1.0,0.12,...,inf,NaN,inf,NaN,inf,inf,True,Nombre de personnes sous-alimentées (millions)...,0.1,False
4,1,Arménie,2516,Avoine,Végétal,2013,4.0,NaN,2.0,0.37,...,5.867667e+05,0.000000e+00,8.692840e+09,0.000000e+00,3.911778e+05,1.077196e+05,True,Nombre de personnes sous-alimentées (millions)...,0.1,False

<h3> Sélection des 15 produits les plus exportés

In [286]:
disponibilite_sous_alimentation_15_exportation=disponibilite_sous_alimentation.loc[(disponibilite_sous_alimentation['is_15_produit_exporte']==True)]
disponibilite_sous_alimentation_15_exportation

,Code zone,Zone,Code Produit,Produit_x,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité intérieure en protéine (kg),Pertes (Kcal),Aliments pour animaux (Kcal),Pertes en protéine (Kg),Aliments pour animaux en protéine (Kg),Disponibilité alimentaire en protéine (kg),is_céréales,Produit_y,Valeur_y,is_15_produit_exporte
0,1,Arménie,2511,Blé,Végétal,2013,93.0,0.0,1024.0,130.60,...,4.722983e+07,9.153181e+10,2.660143e+11,2.728077e+06,7.928473e+06,3.314581e+07,True,Nombre de personnes sous-alimentées (millions)...,0.1,True
2,1,Arménie,2514,Maïs,Végétal,2013,96.0,NaN,0.0,0.03,...,inf,NaN,NaN,inf,inf,inf,True,Nombre de personnes sous-alimentées (millions)...,0.1,True
9,1,Arménie,2532,Manioc,Végétal,2013,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Nombre de personnes sous-alimentées (millions)...,0.1,True
12,1,Arménie,2542,Sucre Eq Brut,Végétal,2013,NaN,0.0,302.0,33.03,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Nombre de personnes sous-alimentées (millions)...,0.1,True
18,1,Arménie,2555,Soja,Végétal,2013,0.0,NaN,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Nombre de personnes sous-alimentées (millions)...,0.1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10309,351,Chine,2617,Pommes,Végétal,2013,NaN,3.0,24.0,20.90,...,1.079122e+08,1.673504e+12,NaN,1.185398e+07,NaN,8.792005e+07,False,Nombre de personnes sous-alimentées (millions)...,137.7,True
10313,351,Chine,2625,"Fruits, Autres",Végétal,2013,0.0,12.0,41.0,36.08,...,2.734333e+08,1.464400e+12,0.000000e+00,1.714420e+07,0.000000e+00,2.481726e+08,False,Nombre de personnes sous-alimentées (millions)...,137.7,True
10340,351,Chine,2763,Poissons Pelagiques,Animal,2013,9575.0,40.0,1.0,0.39,...,1.250973e+09,NaN,9.067901e+12,NaN,1.178827e+09,6.802111e+07,False,Nombre de personnes sous-alimentées (millions)...,137.7,True
10349,351,Chine,2805,Riz (Eq Blanchi),Végétal,2013,12117.0,2085.0,797.0,77.45,...,9.207348e+09,2.406026e+13,4.551017e+13,4.368280e+08,8.262637e+08,7.481915e+09,True,Nombre de personnes sous-alimentées (millions)...,137.7,True
10350,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,1.719964e+09,9.299890e+11,1.059136e+12,4.917908e+07,5.600856e+07,1.613163e+09,False,Nombre de personnes sous-alimentées (millions)...,137.7,True

<h3> Sélection des 200 produits les plus importés

In [287]:
disponibilite_sous_alimentation_200_importation=disponibilite_sous_alimentation_15_exportation.nlargest(200,'Importations - Quantité')
disponibilite_sous_alimentation_200_importation

,Code zone,Zone,Code Produit,Produit_x,Type de produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité intérieure en protéine (kg),Pertes (Kcal),Aliments pour animaux (Kcal),Pertes en protéine (Kg),Aliments pour animaux en protéine (Kg),Disponibilité alimentaire en protéine (kg),is_céréales,Produit_y,Valeur_y,is_15_produit_exporte
10277,351,Chine,2555,Soja,Végétal,2013,9530.0,1.0,36.0,3.87,...,2.491621e+10,2.068711e+12,3.231936e+13,1.959529e+08,3.061362e+09,1.761167e+09,False,Nombre de personnes sous-alimentées (millions)...,137.7,True
10264,351,Chine,2532,Manioc,Végétal,2013,22873.0,9257.0,6.0,1.88,...,3.398408e+08,1.611385e+11,2.670813e+13,1.342821e+06,2.225677e+08,2.591581e+07,False,Nombre de personnes sous-alimentées (millions)...,137.7,True
2567,59,Égypte,2511,Blé,Végétal,2013,4860.0,0.0,1175.0,146.83,...,1.712620e+09,6.496223e+12,1.419588e+13,1.969323e+08,4.303467e+08,1.066860e+09,True,Nombre de personnes sous-alimentées (millions)...,3.9,True
10350,351,Chine,2848,Lait - Excl Beurre,Animal,2013,1632.0,42.0,59.0,33.18,...,1.719964e+09,9.299890e+11,1.059136e+12,4.917908e+07,5.600856e+07,1.613163e+09,False,Nombre de personnes sous-alimentées (millions)...,137.7,True
4036,100,Inde,2577,Huile de Palme,Végétal,2013,NaN,6782.0,31.0,1.30,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Nombre de personnes sous-alimentées (millions)...,216.3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8775,216,Thaïlande,2605,"Légumes, Autres",Végétal,2013,0.0,NaN,36.0,47.86,...,5.018750e+07,9.609716e+10,0.000000e+00,4.938326e+06,0.000000e+00,4.525124e+07,False,Nombre de personnes sous-alimentées (millions)...,5.6,True
4570,112,Jordanie,2542,Sucre Eq Brut,Végétal,2013,NaN,NaN,454.0,45.86,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Nombre de personnes sous-alimentées (millions)...,0.9,True
1841,40,Chili,2848,Lait - Excl Beurre,Animal,2013,605.0,3.0,153.0,116.11,...,8.135632e+07,2.837505e+10,2.909645e+11,1.769268e+06,1.814249e+07,6.135035e+07,False,Nombre de personnes sous-alimentées (millions)...,0.6,True
9948,249,Yémen,2625,"Fruits, Autres",Végétal,2013,NaN,NaN,29.0,30.42,...,2.667044e+06,8.356273e+09,NaN,8.356273e+04,NaN,2.585086e+06,False,Nombre de personnes sous-alimentées (millions)...,7.2,True
3904,95,Honduras,2511,Blé,Végétal,2013,6.0,0.0,294.0,37.36,...,2.258580e+07,2.876761e+09,1.726056e+10,7.309321e+04,4.385592e+05,2.210825e+07,True,Nombre de personnes sous-alimentées (millions)...,1.3,True

<h3> Supression des valeurs NaN, inf et -inf

In [288]:
disponibilite_sous_alimentation_200_importation_NA=disponibilite_sous_alimentation_200_importation.replace([np.inf,-np.inf],np.nan)
disponibilite_sous_alimentation_200_importation_sans_NA=disponibilite_sous_alimentation_200_importation_NA.fillna(0)

<h3> Regroupement des produits et agrégation des valeurs des autres utilisations et de la disponibilité intérieure

In [289]:
disponibilite_sous_alimentation_200_importation_sans_NA_utilisation_disponibilité=disponibilite_sous_alimentation_200_importation_sans_NA.groupby('Produit_x').agg({'Autres utilisations (non alimentaire)':'sum', 'Disponibilité intérieure':'sum'})
disponibilite_sous_alimentation_200_importation_sans_NA_utilisation_disponibilité

,Autres utilisations (non alimentaire),Disponibilité intérieure
Produit_x,,
Bananes,23.0,14611.0
Blé,9910.0,295385.0
"Fruits, Autres",53.0,66577.0
Huile de Palme,18044.0,26697.0
Lait - Excl Beurre,1347.0,107438.0
"Légumes, Autres",66.0,518139.0
Manioc,21068.0,66311.0
Maïs,40412.0,334256.0
"Oranges, Mandarines",7.0,22822.0
Poissons Pelagiques,40.0,16442.0
Pommes,3.0,37316.0
Riz (Eq Blanchi),10416.0,226095.0
Soja,525.0,89844.0
Sucre Eq Brut,3516.0,74197.0
Tomates,0.0,2889.0

<h3> Détermination du ratio entre la quantité destiné aux "Autres utilisations" et la disponibilité intérieure

In [290]:
disponibilite_sous_alimentation_200_importation_sans_NA_utilisation_disponibilité['Ratio autres utilisations et disponibilité intérieure']=disponibilite_sous_alimentation_200_importation_sans_NA_utilisation_disponibilité['Autres utilisations (non alimentaire)']/disponibilite_sous_alimentation_200_importation_sans_NA_utilisation_disponibilité['Disponibilité intérieure']
disponibilite_sous_alimentation_200_importation_sans_NA_utilisation_disponibilité

,Autres utilisations (non alimentaire),Disponibilité intérieure,Ratio autres utilisations et disponibilité intérieure
Produit_x,,,
Bananes,23.0,14611.0,0.001574
Blé,9910.0,295385.0,0.033549
"Fruits, Autres",53.0,66577.0,0.000796
Huile de Palme,18044.0,26697.0,0.675881
Lait - Excl Beurre,1347.0,107438.0,0.012537
"Légumes, Autres",66.0,518139.0,0.000127
Manioc,21068.0,66311.0,0.317715
Maïs,40412.0,334256.0,0.120901
"Oranges, Mandarines",7.0,22822.0,0.000307
Poissons Pelagiques,40.0,16442.0,0.002433
Pommes,3.0,37316.0,0.000080
Riz (Eq Blanchi),10416.0,226095.0,0.046069
Soja,525.0,89844.0,0.005843
Sucre Eq Brut,3516.0,74197.0,0.047387
Tomates,0.0,2889.0,0.000000

<h3> Détermination des 3 produits qui ont la plus grande valeur de ratio entre la quantité destinés aux autres utilisations et la disponibilité intérieure

In [291]:
produit_grand_ratio_3_autres_disponibilité=disponibilite_sous_alimentation_200_importation_sans_NA_utilisation_disponibilité.nlargest(3,'Ratio autres utilisations et disponibilité intérieure')
produit_grand_ratio_3_autres_disponibilité

,Autres utilisations (non alimentaire),Disponibilité intérieure,Ratio autres utilisations et disponibilité intérieure
Produit_x,,,
Huile de Palme,18044.0,26697.0,0.675881
Manioc,21068.0,66311.0,0.317715
Maïs,40412.0,334256.0,0.120901

<h3> Regroupement des produits et agrégation des valeurs de la nourriture et la nourriture animale

In [292]:
disponibilite_sous_alimentation_200_importation_sans_NA_nourriture_animaux=disponibilite_sous_alimentation_200_importation_sans_NA.groupby('Produit_x').agg({'Nourriture':'sum','Aliments pour animaux':'sum'})
disponibilite_sous_alimentation_200_importation_sans_NA_nourriture_animaux

                     Nourriture  Aliments pour animaux
Produit_x
Bananes                 11962.0                    0.0
Blé                    219191.0                44864.0
Fruits, Autres          60318.0                    0.0
Huile de Palme           8372.0                    0.0
Lait - Excl Beurre      99119.0                 4206.0
Légumes, Autres        443445.0                35583.0
Manioc                  15324.0                25156.0
Maïs                    49239.0               215135.0
Oranges, Mandarines     22011.0                    0.0
Poissons Pelagiques      5563.0                10839.0
Pommes                  30488.0                    0.0
Riz (Eq Blanchi)       181220.0                15972.0
Soja                     6515.0                10668.0
Sucre Eq Brut           59511.0                    0.0
Tomates                  2586.0                    0.0

<h3> Détermination du ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)

In [293]:
disponibilite_sous_alimentation_200_importation_sans_NA_nourriture_animaux['Ration quantité destinée nourriture animale et nourriture animale+humaine']=disponibilite_sous_alimentation_200_importation_sans_NA_nourriture_animaux['Aliments pour animaux']/disponibilite_sous_alimentation_200_importation_sans_NA_nourriture_animaux['Nourriture']
disponibilite_sous_alimentation_200_importation_sans_NA_nourriture_animaux

,Nourriture,Aliments pour animaux,Ration quantité destinée nourriture animale et nourriture animale+humaine
Produit_x,,,
Bananes,11962.0,0.0,0.000000
Blé,219191.0,44864.0,0.204680
"Fruits, Autres",60318.0,0.0,0.000000
Huile de Palme,8372.0,0.0,0.000000
Lait - Excl Beurre,99119.0,4206.0,0.042434
"Légumes, Autres",443445.0,35583.0,0.080242
Manioc,15324.0,25156.0,1.641608
Maïs,49239.0,215135.0,4.369199
"Oranges, Mandarines",22011.0,0.0,0.000000
Poissons Pelagiques,5563.0,10839.0,1.948409
Pommes,30488.0,0.0,0.000000
Riz (Eq Blanchi),181220.0,15972.0,0.088136
Soja,6515.0,10668.0,1.637452
Sucre Eq Brut,59511.0,0.0,0.000000
Tomates,2586.0,0.0,0.000000

In [294]:
produit_grand_ratio_3_aliment_animaux=disponibilite_sous_alimentation_200_importation_sans_NA_nourriture_animaux.nlargest(3,'Ration quantité destinée nourriture animale et nourriture animale+humaine')
produit_grand_ratio_3_aliment_animaux

,Nourriture,Aliments pour animaux,Ration quantité destinée nourriture animale et nourriture animale+humaine
Produit_x,,,
Maïs,49239.0,215135.0,4.369199
Poissons Pelagiques,5563.0,10839.0,1.948409
Manioc,15324.0,25156.0,1.641608

<center> <h1> Question 13 </h1> </center>

Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10% ?

<h3> Pivot de la dataframe animaux afin de mieux visualiser les colonnes

In [295]:
df_animaux_pivot=df_animaux.pivot_table(index=['Code zone', 'Zone','Code Produit','Produit'],values=['Valeur'],aggfunc = sum,columns=['Élément'])
df_animaux_pivot.columns= ['Aliments pour animaux', 
                               'Autres utilisations (non alimentaire)',
                              'Disponibilité alimentaire (Kcal/personne/jour)',
                              'Disponibilité alimentaire en quantité (kg/personne/an)',
                              'Disponibilité de matière grasse en quantité (g/personne/jour)',
                              'Disponibilité de protéines en quantité (g/personne/jour)',
                              'Disponibilité intérieure',
                              'Exportations - Quantité',
                              'Importations - Quantité',
                              'Nourriture',
                              'Pertes',
                              'Production',
                              'Semences',
                              'Traitement',
                              'Variation de stock']
df_animaux_pivot=df_animaux_pivot.reset_index()
df_animaux_pivot

,Code zone,Zone,Code Produit,Produit,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,1,Arménie,2731,Viande de Bovins,NaN,2.0,114.0,19.66,8.88,7.97,61.0,0.0,7.0,59.0,NaN,54.0,NaN,NaN,0.0
1,1,Arménie,2732,Viande d'Ovins/Caprins,NaN,NaN,22.0,3.02,1.89,1.12,9.0,NaN,0.0,9.0,NaN,9.0,NaN,NaN,NaN
2,1,Arménie,2733,Viande de Suides,NaN,2.0,72.0,9.67,6.72,2.53,31.0,1.0,19.0,29.0,NaN,13.0,NaN,NaN,0.0
3,1,Arménie,2734,Viande de Volailles,NaN,NaN,45.0,13.35,2.82,4.51,40.0,0.0,32.0,40.0,NaN,8.0,NaN,NaN,NaN
4,1,Arménie,2735,"Viande, Autre",NaN,NaN,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3726,351,Chine,2769,Animaux Aquatiques Autre,NaN,0.0,1.0,0.67,0.00,0.07,953.0,114.0,17.0,953.0,NaN,1049.0,NaN,NaN,NaN
3727,351,Chine,2775,Plantes Aquatiques,NaN,20.0,9.0,9.24,0.04,0.69,13106.0,5.0,17.0,13086.0,NaN,13093.0,NaN,NaN,NaN
3728,351,Chine,2781,Huiles de Poissons,47.0,80.0,0.0,0.00,0.00,0.00,127.0,13.0,91.0,0.0,NaN,50.0,NaN,NaN,0.0
3729,351,Chine,2782,Huiles de Foie de Poisso,0.0,0.0,0.0,0.00,0.00,0.00,0.0,1.0,1.0,0.0,NaN,0.0,NaN,NaN,0.0
3730,351,Chine,2848,Lait - Excl Beurre,1632.0,42.0,59.0,33.18,3.25,3.12,50117.0,233.0,9780.0,47009.0,1433.0,40570.0,NaN,0.0,0.0

<h3> Sélection des productions animales au états-unis

In [296]:
Usa_aliment_animaux=df_animaux_pivot[['Zone','Produit','Production']].loc[(df_animaux_pivot['Zone']=="États-Unis d'Amérique")]
Usa_aliment_animaux

                       Zone                   Produit  Production
3394  États-Unis d'Amérique          Viande de Bovins     11719.0
3395  États-Unis d'Amérique    Viande d'Ovins/Caprins        73.0
3396  États-Unis d'Amérique          Viande de Suides     10525.0
3397  États-Unis d'Amérique       Viande de Volailles     20085.0
3398  États-Unis d'Amérique             Viande, Autre       287.0
3399  États-Unis d'Amérique          Abats Comestible      1536.0
3400  États-Unis d'Amérique    Graisses Animales Crue      6562.0
3401  États-Unis d'Amérique              Beurre, Ghee       849.0
3402  États-Unis d'Amérique                     Crème        23.0
3403  États-Unis d'Amérique                     Oeufs      5777.0
3404  États-Unis d'Amérique        Poissons Eau Douce       730.0
3405  États-Unis d'Amérique                 Perciform      2454.0
3406  États-Unis d'Amérique       Poissons Pelagiques      1182.0
3407  États-Unis d'Amérique   Poissons Marins, Autres         3.0
3408  États-Unis d'Amérique                 Crustacés       413.0
3409  États-Unis d'Amérique              Cephalopodes       120.0
3410  États-Unis d'Amérique        Mollusques, Autres       756.0
3411  États-Unis d'Amérique  Animaux Aquatiques Autre        13.0
3412  États-Unis d'Amérique        Plantes Aquatiques        11.0
3413  États-Unis d'Amérique        Huiles de Poissons        79.0
3414  États-Unis d'Amérique  Huiles de Foie de Poisso         0.0
3415  États-Unis d'Amérique        Lait - Excl Beurre     91277.0

<h3> Détermination de la production animale au états-unis (en tonnes)

In [297]:
production_totale_usa_animaux=Usa_aliment_animaux['Production'].sum()
print("La production totales animales au états-unis est de " + str(production_totale_usa_animaux)+ " tonnes")

La production totales animales au états-unis est de 154474.0 tonnes

<h3> Détermination de la dimininution de 10% de la production de produits animaux de 10 %

In [298]:
pourcent_10=production_totale_usa_animaux-(production_totale_usa_animaux*10/100)
print("Si la production totales animales au états-unis diminue de 10% la production est de " + str(pourcent_10)+ " tonnes")

Si la production totales animales au états-unis diminue de 10% la production est de 139026.6 tonnes

<h3> Détermination de la quantité de céréales destinées à l'alimentation animales au états-unis

In [299]:
Cereales_alimentation_animaux_poids_totale_Usa=Cereales_alimentation_animaux_sans_NA_zero['Aliments pour animaux'].loc[(Cereales_alimentation_animaux_sans_NA_zero['is_céréales']==True)& (Cereales_alimentation_animaux_sans_NA_zero['Zone']=="États-Unis d'Amérique")].sum()
print("La quantité de céréales destinées à l'alimentation animales au états-unis est de "+ str(Cereales_alimentation_animaux_poids_totale_Usa) + " tonnes")

La quantité de céréales destinées à l'alimentation animales au états-unis est de 140096.0 tonnes

<h3> Détermination de la quantité de céréales utilisé si la production de produit animaux diminué de 10% au états-unis

In [300]:
Cereales_alimentation_animaux_poids_totale_Usa_10=(pourcent_10*Cereales_alimentation_animaux_poids_totale_Usa)/production_totale_usa_animaux
print("La quantité de céréales destinées à l'alimentation animales au états-unis avec une diminution de 10% de la production de produits animaux, est de "+ str(Cereales_alimentation_animaux_poids_totale_Usa_10) + " tonnes")

La quantité de céréales destinées à l'alimentation animales au états-unis avec une diminution de 10% de la production de produits animaux, est de 126086.40000000001 tonnes

<h3> Détermination de la quantité de céréales libérées si la production de produit animaux diminué de 10 % au états-unis

In [301]:
cereales_libere=Cereales_alimentation_animaux_poids_totale_Usa-Cereales_alimentation_animaux_poids_totale_Usa_10
print("La quantité de céréales libérées au états-unis s'il y a une diminution de 10% de la production de produits animaux, est de "+ str(cereales_libere) + " tonnes")

La quantité de céréales libérées au états-unis s'il y a une diminution de 10% de la production de produits animaux, est de 14009.599999999991 tonnes

<center> <h1> Question 14 </h1> </center>

 En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition?

<h3> Sélection des colonnes importantes

In [302]:
Manioc_exporte=Disponibilité_personnes[['Zone','Produit','Exportations - Quantité']].loc[(Disponibilité_personnes['Produit']=="Manioc")]
Manioc_exporte

                     Zone Produit  Exportations - Quantité
9                 Arménie  Manioc                      NaN
159               Albanie  Manioc                      NaN
251               Algérie  Manioc                      NaN
342                Angola  Manioc                      0.0
424    Antigua-et-Barbuda  Manioc                      NaN
...                   ...     ...                      ...
14879          Luxembourg  Manioc                      0.0
14972              Serbie  Manioc                      0.0
15064          Monténégro  Manioc                      0.0
15152              Soudan  Manioc                      NaN
15237               Chine  Manioc                    203.0

[164 rows x 3 columns]

<h3> Détermination de l'exportation de manioc dans le monde

In [303]:
Manioc_exporte_monde=Manioc_exporte['Exportations - Quantité'].sum()
Manioc_exporte_monde
print("L'exportation de manioc dans le monde est de " + str(Manioc_exporte_monde) + " tonnes")

L'exportation de manioc dans le monde est de 36052.0 tonnes

<h3> Détermination de l'exportation de manioc au Thaïlande

In [304]:
df_Manioc_exporte_thailande=Manioc_exporte.loc[(Manioc_exporte['Zone']=="Thaïlande")]
Manioc_exporte_thailande=df_Manioc_exporte_thailande['Exportations - Quantité'].sum()
print("L'exportion de manioc au Thaïlande est de " + str(Manioc_exporte_thailande) + " tonnes")

L'exportion de manioc au Thaïlande est de 25214.0 tonnes

<h3> Détermination de la proportion de manioc exportée au Thaïlande

In [305]:
proportion_manioc_exporte=Manioc_exporte_thailande/Manioc_exporte_monde*100
print("La proportion de manioc exportée au Thaïlande est de " + str(proportion_manioc_exporte)+ ' %')

La proportion de manioc exportée au Thaïlande est de 69.93786752468655 %

<h3> Détermination du nombre de personnes en sous-nutrition au Thaïlande entre 2012 et 2014

In [306]:
df_sous_alimentation_thailande=sousalimentation_2012_2014.loc[(sousalimentation_2012_2014['Zone']=='Thaïlande')]
Sous_alimentation_thailande= df_sous_alimentation_thailande[['Valeur']].apply(pd.to_numeric)
population_sous_alimentation_thailande=Sous_alimentation_thailande['Valeur']*1000000
print("Le nombre de personnes en sous-nutrition au Thaïlande est de " + str(int(population_sous_alimentation_thailande)))

Le nombre de personnes en sous-nutrition au Thaïlande est de 5600000

<h3> Déterminatin du nombre de personnes au Thaïlande

In [307]:
df_population_thailand=df_population_mondiale.loc[(df_population_mondiale['Zone']=='Thaïlande')]
population_thailand=df_population_thailand['Valeur']*1000
print("Le nombre de personnes au Thaïlande est de " + str(int(population_thailand)))

Le nombre de personnes au Thaïlande est de 67011000

<h3> Détermination de la proportion de personnes en sous-nutrition

In [308]:
Proportion_sousalimentation_thailande=int(population_sous_alimentation_thailande)/int(population_thailand) *100
print("La proportion de personnes en sous-nutrition au Thaïlande est de " + str(Proportion_sousalimentation_thailande) + " %")

La proportion de personnes en sous-nutrition au Thaïlande est de 8.356836937219263 %

<center> <h1> Partie SQL </h1> </center>

<center> <h1> Question 15 </h1> </center>

<h3> Création de la table population

In [309]:
dataframe_population=df_population_mondiale[["Zone","Code zone","Code année","Valeur"]]
dataframe_population

                                       Zone  Code zone  Code année  Valeur
0                               Afghanistan          2        2013   30552
1                            Afrique du Sud        202        2013   52776
2                                   Albanie          3        2013    3173
3                                   Algérie          4        2013   39208
4                                 Allemagne         79        2013   82727
..                                      ...        ...         ...     ...
170  Venezuela (République bolivarienne du)        236        2013   30405
171                                Viet Nam        237        2013   91680
172                                   Yémen        249        2013   24407
173                                  Zambie        251        2013   14539
174                                Zimbabwe        181        2013   14150

[171 rows x 4 columns]

In [310]:
population = dataframe_population.rename({'Zone' : 'pays', 'Code zone' : 'code_pays', 'Code année' : 'Année', 'Valeur' : 'population'},axis='columns')
population

                                       pays  code_pays  Année  population
0                               Afghanistan          2   2013       30552
1                            Afrique du Sud        202   2013       52776
2                                   Albanie          3   2013        3173
3                                   Algérie          4   2013       39208
4                                 Allemagne         79   2013       82727
..                                      ...        ...    ...         ...
170  Venezuela (République bolivarienne du)        236   2013       30405
171                                Viet Nam        237   2013       91680
172                                   Yémen        249   2013       24407
173                                  Zambie        251   2013       14539
174                                Zimbabwe        181   2013       14150

[171 rows x 4 columns]

In [311]:
population.to_csv("D:/Lena/Desktop/OpenClassroom/population.csv", index = False, sep=';')

La clé primaire pertinente pour cette table population est "le code_pays"

<center> <h1> Question 16 </h1> </center>

<h3> Création de la table dispo_alim

In [312]:
dispo_alim_selection=Disponibilité_personnes[['Zone','Code zone','Année','Produit','Code Produit','Type de produit','Disponibilité alimentaire en quantité (kg/personne/an)','Disponibilité alimentaire (Kcal/personne/jour)','Disponibilité de protéines en quantité (g/personne/jour)','Disponibilité de matière grasse en quantité (g/personne/jour)']]
dispo_alim_selection

,Zone,Code zone,Année,Produit,Code Produit,Type de produit,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour)
0,Arménie,1,2013,Blé,2511,Végétal,130.60,1024.0,30.52,3.60
1,Arménie,1,2013,Orge,2513,Végétal,0.00,0.0,0.00,0.00
2,Arménie,1,2013,Maïs,2514,Végétal,0.03,0.0,0.01,NaN
3,Arménie,1,2013,Seigle,2515,Végétal,0.12,1.0,0.02,0.00
4,Arménie,1,2013,Avoine,2516,Végétal,0.37,2.0,0.09,0.03
...,...,...,...,...,...,...,...,...,...,...
15320,Chine,351,2013,Huiles de Poissons,2781,Animal,0.00,0.0,0.00,0.00
15321,Chine,351,2013,Huiles de Foie de Poisso,2782,Animal,0.00,0.0,0.00,0.00
15322,Chine,351,2013,Riz (Eq Blanchi),2805,Végétal,77.45,797.0,14.47,2.68
15323,Chine,351,2013,Lait - Excl Beurre,2848,Animal,33.18,59.0,3.12,3.25
15324,Chine,351,2013,Miscellanees,2899,Végétal,NaN,0.0,0.01,0.00

In [313]:
dispo_alim = dispo_alim_selection.rename({'Zone' : 'pays',
                                          'Code zone' : 'code_pays',
                                          'Code Produit' : 'code_produit',
                                          'Type de produit' : 'origin',
                                          'Disponibilité alimentaire en quantité (kg/personne/an)': 'dispo_alim_tonnes',
                                          'Disponibilité alimentaire (Kcal/personne/jour)' : 'dispo_alim_kcal_p_j',
                                          'Disponibilité de protéines en quantité (g/personne/jour)' : 'dispo_prot',
                                          'Disponibilité de matière grasse en quantité (g/personne/jour)' : 'dispo_mat_gr'
                                         },axis='columns')
dispo_alim

,pays,code_pays,Année,Produit,code_produit,origin,dispo_alim_tonnes,dispo_alim_kcal_p_j,dispo_prot,dispo_mat_gr
0,Arménie,1,2013,Blé,2511,Végétal,130.60,1024.0,30.52,3.60
1,Arménie,1,2013,Orge,2513,Végétal,0.00,0.0,0.00,0.00
2,Arménie,1,2013,Maïs,2514,Végétal,0.03,0.0,0.01,NaN
3,Arménie,1,2013,Seigle,2515,Végétal,0.12,1.0,0.02,0.00
4,Arménie,1,2013,Avoine,2516,Végétal,0.37,2.0,0.09,0.03
...,...,...,...,...,...,...,...,...,...,...
15320,Chine,351,2013,Huiles de Poissons,2781,Animal,0.00,0.0,0.00,0.00
15321,Chine,351,2013,Huiles de Foie de Poisso,2782,Animal,0.00,0.0,0.00,0.00
15322,Chine,351,2013,Riz (Eq Blanchi),2805,Végétal,77.45,797.0,14.47,2.68
15323,Chine,351,2013,Lait - Excl Beurre,2848,Animal,33.18,59.0,3.12,3.25
15324,Chine,351,2013,Miscellanees,2899,Végétal,NaN,0.0,0.01,0.00

In [314]:
dispo_alim.to_csv("D:/Lena/Desktop/OpenClassroom/dispo_alim.csv", index = False, sep=';')

La clé primaire pertinente pour cette table population est "le code_pays, code produit"

<center> <h1> Question 17 </h1> </center>

<h3> Création de la table equilibre_prod

In [315]:
equilibre_prod_selection=Disponibilité_personnes[['Zone','Code zone','Année','Produit','Code Produit','Disponibilité intérieure','Aliments pour animaux','Semences','Pertes','Traitement','Nourriture','Autres utilisations (non alimentaire)']]
equilibre_prod_selection

,Zone,Code zone,Année,Produit,Code Produit,Disponibilité intérieure,Aliments pour animaux,Semences,Pertes,Traitement,Nourriture,Autres utilisations (non alimentaire)
0,Arménie,1,2013,Blé,2511,554.0,93.0,30.0,32.0,10.0,389.0,0.0
1,Arménie,1,2013,Orge,2513,198.0,137.0,14.0,15.0,7.0,0.0,26.0
2,Arménie,1,2013,Maïs,2514,102.0,96.0,0.0,7.0,NaN,0.0,NaN
3,Arménie,1,2013,Seigle,2515,1.0,1.0,0.0,0.0,NaN,0.0,NaN
4,Arménie,1,2013,Avoine,2516,6.0,4.0,0.0,0.0,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
15320,Chine,351,2013,Huiles de Poissons,2781,127.0,47.0,NaN,NaN,NaN,0.0,80.0
15321,Chine,351,2013,Huiles de Foie de Poisso,2782,0.0,0.0,NaN,NaN,NaN,0.0,0.0
15322,Chine,351,2013,Riz (Eq Blanchi),2805,135024.0,12117.0,4679.0,6406.0,12.0,109725.0,2085.0
15323,Chine,351,2013,Lait - Excl Beurre,2848,50117.0,1632.0,NaN,1433.0,0.0,47009.0,42.0
15324,Chine,351,2013,Miscellanees,2899,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [316]:
equilibre_prod = equilibre_prod_selection.rename({'Zone' : 'pays',
                                          'Code zone' : 'code_pays',
                                          'Code Produit' : 'code_produit',
                                          'Disponibilité intérieure' : 'dispo_int',
                                          'Aliments pour animaux': 'alim_ani',
                                          'Semences' : 'semences',
                                          'Pertes' : 'pertes',
                                          'Traitement' : 'transfo',
                                            'Nourriture' : 'nourriture',
                                            'Autres utilisations (non alimentaire)': 'autres_utilisations'
                                                  
                                         },axis='columns')
equilibre_prod

,pays,code_pays,Année,Produit,code_produit,dispo_int,alim_ani,semences,pertes,transfo,nourriture,autres_utilisations
0,Arménie,1,2013,Blé,2511,554.0,93.0,30.0,32.0,10.0,389.0,0.0
1,Arménie,1,2013,Orge,2513,198.0,137.0,14.0,15.0,7.0,0.0,26.0
2,Arménie,1,2013,Maïs,2514,102.0,96.0,0.0,7.0,NaN,0.0,NaN
3,Arménie,1,2013,Seigle,2515,1.0,1.0,0.0,0.0,NaN,0.0,NaN
4,Arménie,1,2013,Avoine,2516,6.0,4.0,0.0,0.0,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
15320,Chine,351,2013,Huiles de Poissons,2781,127.0,47.0,NaN,NaN,NaN,0.0,80.0
15321,Chine,351,2013,Huiles de Foie de Poisso,2782,0.0,0.0,NaN,NaN,NaN,0.0,0.0
15322,Chine,351,2013,Riz (Eq Blanchi),2805,135024.0,12117.0,4679.0,6406.0,12.0,109725.0,2085.0
15323,Chine,351,2013,Lait - Excl Beurre,2848,50117.0,1632.0,NaN,1433.0,0.0,47009.0,42.0
15324,Chine,351,2013,Miscellanees,2899,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [317]:
equilibre_prod.describe()

,code_pays,Année,code_produit,dispo_int,alim_ani,semences,pertes,transfo,nourriture,autres_utilisations
count,15325.000000,15325.0,15325.000000,15108.000000,2677.000000,2076.000000,4216.000000,2274.000000,13762.000000,5385.000000
mean,126.915237,2013.0,2631.403458,651.906341,487.205454,74.509152,107.613615,969.519789,354.328804,160.636955
std,75.302754,0.0,91.746026,9176.954617,4324.485756,530.004672,1123.787298,10430.885467,4549.335128,5129.269237
min,1.000000,2013.0,2511.000000,-3430.000000,0.000000,0.000000,0.000000,-19.000000,-246.000000,0.000000
25%,63.000000,2013.0,2558.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,121.000000,2013.0,2613.000000,7.000000,5.000000,2.000000,4.000000,6.000000,5.000000,0.000000
75%,189.000000,2013.0,2732.000000,77.000000,75.000000,17.000000,26.000000,69.000000,52.000000,5.000000
max,351.000000,2013.0,2899.000000,739267.000000,153802.000000,17060.000000,55047.000000,326711.000000,430046.000000,347309.000000

In [318]:
equilibre_prod.to_csv("D:/Lena/Desktop/OpenClassroom/equilibre_prod.csv", index = False, sep=';')

La clé primaire pertinente pour cette table population est "le code_pays, code produit"

<center> <h1> Question 18 </h1> </center>

In [319]:
sous_nutrition_selection=sousalimentation_2012_2014[['Zone','Code zone','Année','Valeur']]
sous_nutrition_selection

                                        Zone  Code zone      Année Valeur
0                                Afghanistan          2  2012-2014    7.9
5                             Afrique du Sud        202  2012-2014    2.6
10                                   Albanie          3  2012-2014    0.2
15                                   Algérie          4  2012-2014    1.7
30                                    Angola          7  2012-2014    8.1
...                                      ...        ...        ...    ...
995   Venezuela (République bolivarienne du)        236  2012-2014    1.9
1000                                Viet Nam        237  2012-2014   10.4
1005                                   Yémen        249  2012-2014    7.2
1010                                  Zambie        251  2012-2014      7
1015                                Zimbabwe        181  2012-2014    6.6

[117 rows x 4 columns]

In [320]:
sous_nutrition = sous_nutrition_selection.rename({'Zone' : 'pays',
                                          'Code zone' : 'code_pays',
                                          'Code Produit' : 'code_produit',
                                          'Année' : 'année',
                                          'Valeur': 'nb_personnes'
                                
                                         },axis='columns')
sous_nutrition

,pays,code_pays,année,nb_personnes
0,Afghanistan,2,2012-2014,7.9
5,Afrique du Sud,202,2012-2014,2.6
10,Albanie,3,2012-2014,0.2
15,Algérie,4,2012-2014,1.7
30,Angola,7,2012-2014,8.1
...,...,...,...,...
995,Venezuela (République bolivarienne du),236,2012-2014,1.9
1000,Viet Nam,237,2012-2014,10.4
1005,Yémen,249,2012-2014,7.2
1010,Zambie,251,2012-2014,7
1015,Zimbabwe,181,2012-2014,6.6

In [321]:
sous_nutrition.to_csv("D:/Lena/Desktop/OpenClassroom/sous_nutrition.csv", index = False,encoding = 'utf-8', sep=';')

La clé primaire pertinente pour cette table population est "le code_pays"

<center> <h1> Question 19 </h1> </center>

In [322]:
import sqlite3

In [323]:
con = sqlite3.connect(":memory:")

In [324]:
cur=con.cursor()

In [325]:
population.to_sql('POPULATION', con, if_exists='append', index = False)

In [326]:
dispo_alim.to_sql('Dispo_alim', con, if_exists='append', index = False)

In [327]:
equilibre_prod.to_sql('equilibre_prod', con, if_exists='append', index = False)

In [328]:
sous_nutrition.to_sql('sous_nutrition', con, if_exists='append', index = False)

<h3> Les 10 pays ayant le plus haut ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant

In [329]:
df_10_pays_plus_dispo_alim_prot_par_hab = pd.read_sql_query(''' SELECT pays,
(SUM (dispo_prot)*365)/1e3 AS "dispo_alim_prot_par_hab"
FROM dispo_alim
GROUP BY dispo_alim.code_pays
ORDER BY dispo_alim_prot_par_hab DESC
LIMIT 10;

''',con)

df_10_pays_plus_dispo_alim_prot_par_hab

         pays  dispo_alim_prot_par_hab
0     Islande                 48.56690
1      Israël                 46.72000
2    Lituanie                 45.39140
3    Maldives                 44.64680
4    Finlande                 42.90940
5  Luxembourg                 41.47860
6  Monténégro                 40.84350
7    Pays-Bas                 40.68290
8     Albanie                 40.65005
9    Portugal                 40.46755

<h3> Les 10 pays ayant le plus haut ratio disponibilité alimentaire/habitant en termes de kcal par habitant.

In [330]:
df_10_pays_plus_dispo_alim_kcal_par_hab = pd.read_sql_query(''' SELECT pays,
(SUM (dispo_alim_kcal_p_j)*365) AS "dispo_alim_kcal_par_hab"
FROM dispo_alim
GROUP BY dispo_alim.code_pays
ORDER BY dispo_alim_kcal_par_hab DESC
LIMIT 10;

''',con)

df_10_pays_plus_dispo_alim_kcal_par_hab

                    pays  dispo_alim_kcal_par_hab
0               Autriche                1376050.0
1               Belgique                1364005.0
2                Turquie                1353420.0
3  États-Unis d'Amérique                1343930.0
4                 Israël                1317650.0
5                Irlande                1314730.0
6                 Italie                1305970.0
7             Luxembourg                1292100.0
8                 Égypte                1284070.0
9              Allemagne                1278595.0

<h3> Pour l'année 2013, les 10 pays ayant le plus faible ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant.

In [331]:
df_10_pays_moins_ratio_dispo_alim_prot_par_hab = pd.read_sql_query(''' SELECT pays,
(SUM (dispo_prot)*365)/1e3 AS "dispo_alim_prot_par_hab"
FROM dispo_alim
GROUP BY dispo_alim.code_pays
ORDER BY dispo_alim_prot_par_hab ASC
LIMIT 10;

''',con)

df_10_pays_moins_ratio_dispo_alim_prot_par_hab

                        pays  dispo_alim_prot_par_hab
0                    Libéria                 13.74590
1              Guinée-Bissau                 16.07825
2                 Mozambique                 16.67320
3  République centrafricaine                 16.80460
4                 Madagascar                 17.04185
5                      Haïti                 17.41050
6                   Zimbabwe                 17.63680
7                      Congo                 18.76465
8                    Ouganda                 19.21360
9       Sao Tomé-et-Principe                 19.38150

<h3> La quantité totale (en kg) de produits perdus par pays en 2013.

In [332]:
df_quantié_totale_kg_perdus_pays = pd.read_sql_query(''' SELECT pays, 
(SUM (pertes)*1e6) AS "pertes_totales_par_pays"
FROM equilibre_prod
GROUP BY equilibre_prod.code_pays
ORDER BY pertes_totales_par_pays DESC;

''',con)

df_quantié_totale_kg_perdus_pays

                   pays  pertes_totales_par_pays
0                 Chine             9.035800e+10
1                Brésil             7.591400e+10
2                  Inde             5.593000e+10
3               Nigéria             1.985400e+10
4             Indonésie             1.308100e+10
..                  ...                      ...
166            Maldives             0.000000e+00
167             Islande             0.000000e+00
168            Kiribati             0.000000e+00
169            Bermudes             0.000000e+00
170  Antigua-et-Barbuda             0.000000e+00

[171 rows x 2 columns]

<h3> Les 10 pays pour lesquels la proportion de personnes sous-alimentées est la plus forte

In [333]:
df_10_pays_plus_sous_nutrition = pd.read_sql_query(''' SELECT sous_nutrition.pays, population.population, sous_nutrition.nb_personnes,
((sous_nutrition.nb_personnes*1e6)/(population.population*1000))*100 AS "proportion_sous_nutrition"
FROM sous_nutrition
JOIN population ON sous_nutrition.code_pays = population.code_pays
ORDER BY proportion_sous_nutrition DESC
LIMIT 10;

''',con)

df_10_pays_plus_sous_nutrition

,pays,population,nb_personnes,proportion_sous_nutrition
0,Haïti,10317,5.2,50.402249
1,Zambie,14539,7,48.146365
2,Zimbabwe,14150,6.6,46.643110
3,République centrafricaine,4616,2,43.327556
4,République populaire démocratique de Corée,24895,10.6,42.578831
5,Congo,4448,1.8,40.467626
6,Tchad,12825,4.9,38.206628
7,Angola,21472,8.1,37.723547
8,Libéria,4294,1.6,37.261295
9,Madagascar,22925,8.2,35.768811

<h3> Les 10 produits pour lesquels le ratio Autres utilisations/Disponibilité intérieure est le plus élevé.

In [334]:
df_10_produit_plus_ratio_autres_utilisations_dispo_int = pd.read_sql_query(''' SELECT produit,
(SUM(autres_utilisations))/(SUM(dispo_int)) AS "ratio_autres_utilsation_dispo_int"
FROM equilibre_prod
GROUP BY equilibre_prod.code_produit
ORDER BY ratio_autres_utilsation_dispo_int DESC
LIMIT 10;

''',con)

df_10_produit_plus_ratio_autres_utilisations_dispo_int

                   Produit  ratio_autres_utilsation_dispo_int
0   Alcool, non Comestible                           1.001288
1  Huil Plantes Oleif Autr                           0.755024
2       Huile de Palmistes                           0.704110
3           Huile de Palme                           0.698109
4                 Girofles                           0.646154
5  Huile de Colza&Moutarde                           0.551290
6   Graisses Animales Crue                           0.470176
7       Huiles de Poissons                           0.448609
8            Huile de Soja                           0.416172
9       Plantes Aquatiques                           0.379299